<div class="row">
    <div class="col-12">
        <div class="card card-widget widget-user item-box">
            <div class="widget-user-header text-white p-0" style="background: url('{bg_img}') center center;">
                <div style="background-color: rgba(66,66,66,0.30)!important; height: 100%" class="p-3">
                    <h3 class="widget-user-username text-center text-light left">{servername}</h3>
                    <h5 class="widget-user-desc text-center text-light">{global_IP}:{QPort}</h5>
                    <div class="d-none" id="secretInfo">{global_IP}:{QPort}</div>
                </div>
            </div>
            <div class="widget-user-image" id="serv_img" style="z-index: 1000">
                <img src="/app/dist/img/logo/ark.png" style="border-radius: 25rem!important;height: 90px;width: 90px;background-color: #001f3f" class="border-danger">
            </div>
            <div class="card card-widget widget-user mb-0">
                <div class="text-left left d-inline" style="width:50%">
                    <button data-toggle="tooltip" data-placement="top" title="" data-original-title="IP Kopieren" aria-hidden="true" style="width: 100%" class="btn btn-dark" onclick="copyToClipboard('info')" id="btnCopy"><i class="fas fa-copy"></i></button>
                </div>
                <div class="right-no-top ml-auto d-inline" style="width:50%">
                    <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Direkt Joinen" aria-hidden="true" style="width: 100%" {ifonline}href="{joinurl}" {/ifonline} class="text-white btn btn-dark {!ifonline}disabled{/!ifonline}"><i class="fas fa-sign-in-alt"></i></a>
                </div>
            </div>
            <div class="card-footer pt-3">
                <div class="row">
                    <div class="col-sm-3 border-sm-right">
                        <div class="description-block">
                            <h5 class="description-header" id="state">...</h5>
                            <span class="description-text">{::lang::servercenter::topline::state}</span>
                        </div>
                    </div>
                    <div class="col-sm-3 border-sm-right">
                        <div class="description-block">
                            <h5 class="description-header" id="player">...</h5>
                            <span class="description-text">{::lang::servercenter::topline::player}</span>
                        </div>
                    </div>
                    <div class="col-sm-3 border-sm-right">
                        <div class="description-block">
                            <h5 class="description-header" id="actions">...</h5>
                            <span class="description-text">{::lang::servercenter::topline::action}</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="description-block">
                            <h5 class="description-header"><a href="{arkservers}" target="_blank">{::lang::servercenter::open_url}</a></h5>
                            <span class="description-text">ARKServers</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer p-0">
                <nav class="navbar navbar-expand-lg navbar-dark p-0">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse navbar-secondary" id="navbarColor02">
                        <ul class="nav navbar-nav mr-auto" id="pills-tab">
                            {ifin}
                            <li class="nav-item" onmouseenter="$('#cluster').toggleClass('d-lg-none', false)" onmouseleave="$('#cluster').toggleClass('d-lg-none', true)">
                                <a href="{permissions??cluster??show}/cluster{/permissions}{!permissions??cluster??show}#{/!permissions}" class="nav-link btn-dark p-3">
                                    <i class="fas fa-random pr-2 pr-1" aria-hidden="true"></i> {typestr} <b>{clustername}</b>
                                </a>
                            </li>{/ifin}

                            <li class="nav-item">
                                <a href="{ROOT}/servercenter/{cfg}/home" class="nav-link {__home} btn-dark p-3" onmouseenter="$('#home').toggleClass('d-lg-none', false)" onmouseleave="$('#home').toggleClass('d-lg-none', true)">
                                    <i class="nav-icon fas fa-home pr-1" aria-hidden="true"></i>{___home}<span id="home" class="d-lg-none">{/___home} {::lang::servercenter::main::nav::home}{___home}</span>{/___home}
                                </a>
                            </li>

                            {permissions??server??{cfg}??statistiken??show}
                            <li class="nav-item">
                                <a href="{ROOT}/servercenter/{cfg}/statistiken" class="nav-link {__statistiken} btn-dark p-3" onmouseenter="$('#statistiken').toggleClass('d-lg-none', false)" onmouseleave="$('#statistiken').toggleClass('d-lg-none', true)">
                                    <i class="nav-icon fas fa-chart-bar pr-1" aria-hidden="true"></i>{___statistiken}<span id="statistiken" class="d-lg-none">{/___statistiken} {::lang::servercenter::main::nav::statistiken}{___statistiken}</span>{/___statistiken}
                                </a>
                            </li>
                            {/permissions}

                            {modsupport}{permissions??server??{cfg}??mods??show}
                            <li class="nav-item ">
                                <a href="{ROOT}/servercenter/{cfg}/mods" class="nav-link {__mods} btn-dark p-3" onmouseenter="$('#mods').toggleClass('d-lg-none', false)" onmouseleave="$('#mods').toggleClass('d-lg-none', true)">
                                    <i class="nav-icon fas fa-cogs pr-1" aria-hidden="true"></i>{___mods}<span id="mods" class="d-lg-none">{/___mods} {::lang::servercenter::main::nav::mods}{___mods}</span>{/___mods}
                                </a>
                            </li>{/permissions}{/modsupport}

                            {permissions??server??{cfg}??konfig??show}
                            <li class="nav-item ">
                                <a href="{ROOT}/servercenter/{cfg}/konfig" class="nav-link {__konfig} btn-dark p-3" onmouseenter="$('#konfig').toggleClass('d-lg-none', false)" onmouseleave="$('#konfig').toggleClass('d-lg-none', true)">
                                    <i class="nav-icon fa fa-file-code pr-1" aria-hidden="true"></i>{___konfig}<span id="konfig" class="d-lg-none">{/___konfig} {::lang::servercenter::main::nav::config}{___konfig}</span>{/___konfig}
                                </a>
                            </li>
                            {/permissions}

                            {permissions??server??{cfg}??logs??show}
                            <li class="nav-item ">
                                <a href="{ROOT}/servercenter/{cfg}/logs" class="nav-link {__logs} btn-dark p-3" onmouseenter="$('#logs').toggleClass('d-lg-none', false)" onmouseleave="$('#logs').toggleClass('d-lg-none', true)">
                                    <i class="nav-icon fas fa-list pr-1" aria-hidden="true"></i>{___logs}<span id="logs" class="d-lg-none">{/___logs} {::lang::servercenter::main::nav::logs}{___logs}</span>{/___logs}
                                </a>
                            </li>
                            {/permissions}

                            {permissions??server??{cfg}??backup??show}
                            <li class="nav-item ">
                                <a href="{ROOT}/servercenter/{cfg}/backup" class="nav-link {__backup} btn-dark p-3" onmouseenter="$('#backups').toggleClass('d-lg-none', false)" onmouseleave="$('#backups').toggleClass('d-lg-none', true)">
                                    <i class="nav-icon fas fa-file-archive pr-1" aria-hidden="true"></i>{___backup}<span id="backups" class="d-lg-none">{/___backup} {::lang::servercenter::main::nav::backup}{___backup}</span>{/___backup}
                                </a>
                            </li>
                            {/permissions}

                            {permissions??server??{cfg}??filebrowser??show}
                            <li class="nav-item ">
                                <a href="{ROOT}/servercenter/{cfg}/file_manager" class="nav-link {__file_manager} btn-dark p-3" onmouseenter="$('#file_manager').toggleClass('d-lg-none', false)" onmouseleave="$('#file_manager').toggleClass('d-lg-none', true)">
                                    <i class="nav-icon fas fa-file pr-1" aria-hidden="true"></i>{___file_manager}<span id="file_manager" class="d-lg-none">{/___file_manager} {::lang::servercenter::main::nav::files}{___file_manager}</span>{/___file_manager}
                                </a>
                            </li>
                            {/permissions}

                            {permissions??server??{cfg}??saves??show}
                            <li class="nav-item">
                                <a href="{ROOT}/servercenter/{cfg}/saves" class="nav-link {__saves} btn-dark p-3" onmouseenter="$('#saves').toggleClass('d-lg-none', false)" onmouseleave="$('#saves').toggleClass('d-lg-none', true)">
                                    <i class="nav-icon fas fa-folder-open pr-1" aria-hidden="true"></i>{___saves}<span id="saves" class="d-lg-none">{/___saves} {::lang::servercenter::main::nav::saves}{___saves}</span>{/___saves}
                                </a>
                            </li>
                            {/permissions}

                            {permissions??server??{cfg}??jobs??show}
                            <li class="nav-item ">
                                <a href="{ROOT}/servercenter/{cfg}/jobs" class="nav-link {__jobs} btn-dark p-3" onmouseenter="$('#jobs').toggleClass('d-lg-none', false)" onmouseleave="$('#jobs').toggleClass('d-lg-none', true)">
                                    <i class="nav-icon fas fa-tasks pr-1" aria-hidden="true"></i>{___jobs}<span id="jobs" class="d-lg-none">{/___jobs} {::lang::servercenter::main::nav::jobs}{___jobs}</span>{/___jobs}
                                </a>
                            </li>
                            {/permissions}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<div id="all_resp">{resp}</div>
{cluster_meld}{!rcon}{rcon_meld}{/!rcon}

<div class="row">
    {panel}
</div>


{permissions??server??{cfg}??actions}
<div class="modal fade" id="action" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="action_form" class="modal-dialog modal-xl" role="document" style="max-width: 700px" method="POST">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title">{::lang::servercenter::main::modal::send_command::title}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="action_resp"></p>
                {expert}
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{::lang::servercenter::main::modal::send_command::custom_action}</span>
                    </div>
                    <input id="custom_command" name="custom" type="text" class="form-control" placeholder="{::lang::servercenter::main::modal::send_command::custom_action_ph}">
                </div>
                <div class="icheck-primary mb-3 col-md-12">
                    <input type="checkbox" name="force" value="true" id="forcethis">
                    <label for="forcethis">
                        {::lang::servercenter::force_action}
                    </label>
                </div>
                <hr>{/expert}
                <input name="cfg" id="cfg" value="{cfg}" type="hidden">
                <select name="action" id="action_sel" class="form-control">
                    {action_list}
                </select>
                <div id="actioninfo" class="d-none">
                    <div class="callout callout-info mb-3 ml-0 mr-0 mt-0">
                        <h5 class="text-info"><i class="fas fa-info" aria-hidden="true"></i> <span id="actioninfo_title"></span></h5>
                        <span id="actioninfo_text"></span>
                    </div>
                </div>
                <hr>

                <div class="form-row" style="padding-left: 25px;padding-right: 25px">{para_list}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{::lang::servercenter::main::modal::send_command::btn_close}</button>
                <button type="submit" class="btn btn-primary" id="sendaction">{::lang::servercenter::main::modal::send_command::btn_send}</button>
            </div>
        </div>
    </form>
</div>
{/permissions}

{permissions??server??{cfg}??show_players}
<div class="modal fade" id="playerlist_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 700px">
        <div class="modal-content ">
            <div class="modal-header bg-orange text-white rounded-0">
                <h5 class="modal-title">{::lang::servercenter::main::modal::player_list::title}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <ul class="list-group" style="border:0; border-radius: 0">{playerlist}</ul>
            </div>
            <div class="modal-footer bg-gray-200">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{::lang::servercenter::main::modal::player_list::btn_close}</button>
            </div>
        </div>
    </div>
</div>
{/permissions}

<script>
    // Vars die zur JS übergeben werden

    // Allgemeine Vars
    var varser = {};
    varser.ROOT = '{ROOT}';
    varser.lang_arr = {lang_arr};
    varser.cfg = '{cfg}';
    varser.installed = {installed_int};
    varser.expert = {exp_int};

    // Sprache
    var lang = {};
    lang.state_off = "{::lang::php::function_allg::state_off}";
    lang.state_notinstalled = "{::lang::php::function_allg::state_notinstalled}";
    lang.state_on = "{::lang::php::function_allg::state_on}";
    lang.state_start = "{::lang::php::function_allg::state_start}";
    lang.action_closed = `{::lang::php::async::get::servercenter::main::action_closed}`;

    // Sprache / Aktionen
    var actions = {};
    actions.pick_d = `<a href="javascript:void()" class="small-box-footer btn btn-sm btn-danger" data-toggle="modal" data-target="#action">{::lang::php::async::get::servercenter::main::action_pick}</a>`;
    actions.pick_s = `<a href="javascript:void()" class="small-box-footer btn btn-sm btn-success" data-toggle="modal" data-target="#action">{::lang::php::async::get::servercenter::main::action_pick}</a>`;
</script>
<script src="/app/dist/js/arkadmin2/pages/servercenter.js" type="application/javascript"></script>