<div class="row">
    <div class="col-12">
        <div class="card card-widget widget-user">
            <div class="widget-user-header text-white" style="background: url('/app/dist/img/backgrounds/bg.jpg') center center;">
                <h3 class="widget-user-username text-center text-gray-dark left">{servername}</h3>
                <h5 class="widget-user-desc text-center text-gray-dark">{global_IP}:{QPort}</h5>
                <div class="d-none" id="secretInfo">{global_IP}:{QPort}</div>
            </div>
            <div class="widget-user-image" id="serv_img" style="z-index: 1000">
                <img src="/app/dist/img/logo/ark.png" style="border-radius: 25rem!important;height: 90px;width: 90px;background-color: #001f3f" class="border-danger">
            </div>
            <div class="card card-widget widget-user mb-0">
                <div class="text-left left d-inline" style="width:50%">
                    <button data-toggle="tooltip" data-placement="top" title="" data-original-title="IP Kopieren" aria-hidden="true" style="width: 100%" class="btn btn-dark" onclick="copyToClipboard('info')" id="btnCopy"><i class="fas fa-copy"></i></button>
                </div>
                <div class="right-no-top ml-auto d-inline" style="width:50%">
                    <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Direkt Joinen" aria-hidden="true" style="width: 100%" {ifonline}href="{joinurl}" {/ifonline} class="text-white btn btn-dark {!ifonline}disabled{/!ifonline}"><i class="fas fa-sign-in-alt"></i></a>
                </div>
            </div>
            <div class="card-footer pt-3">
                <div class="row">
                    <div class="col-sm-3 border-sm-right">
                        <div class="description-block">
                            <h5 class="description-header" id="state">...</h5>
                            <span class="description-text">{::lang::servercenter::topline::state}</span>
                        </div>
                    </div>
                    <div class="col-sm-3 border-sm-right">
                        <div class="description-block">
                            <h5 class="description-header" id="player">...</h5>
                            <span class="description-text">{::lang::servercenter::topline::player}</span>
                        </div>
                    </div>
                    <div class="col-sm-3 border-sm-right">
                        <div class="description-block">
                            <h5 class="description-header" id="actions">...</h5>
                            <span class="description-text">{::lang::servercenter::topline::action}</span>
                        </div>
                    </div>
                    <div class="col-sm-3 border-sm-right">
                        <div class="description-block">
                            <h5 class="description-header"><a href="{arkservers}" target="_blank">{::lang::servercenter::open_url}</a></h5>
                            <span class="description-text">ARKServers</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer p-0">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor02">
                        <ul class="nav navbar-nav mr-auto" id="pills-tab">
                            {ifin}
                            <li class="nav-item" onmouseenter="$('#cluster').toggleClass('d-lg-none', false)" onmouseleave="$('#cluster').toggleClass('d-lg-none', true)">
                                <a href="{permissions??cluster??show}/cluster{/permissions}{!permissions??cluster??show}#{/!permissions}" class="nav-link">
                                    <i class="fas fa-random pr-2 pr-1" aria-hidden="true"></i> <span id="cluster" class="d-lg-none">{typestr} <b>{clustername}</b></span>
                                </a>
                            </li>{/ifin}

                            <li class="nav-item">
                                <a href="/servercenter/{cfg}/home" class="nav-link {__home}" onmouseenter="$('#home').toggleClass('d-lg-none', false)" onmouseleave="$('#home').toggleClass('d-lg-none', true)">
                                    <i class="nav-icon fas fa-home pr-1" aria-hidden="true"></i> <span id="home" class="d-lg-none">{::lang::servercenter::main::nav::home}</span>
                                </a>
                            </li>

                            {permissions??server??{cfg}??statistiken??show}
                            <li class="nav-item">
                                <a href="/servercenter/{cfg}/statistiken" class="nav-link {__statistiken}" onmouseenter="$('#statistiken').toggleClass('d-lg-none', false)" onmouseleave="$('#statistiken').toggleClass('d-lg-none', true)">
                                    <i class="nav-icon fas fa-chart-bar pr-1" aria-hidden="true"></i> <span id="statistiken" class="d-lg-none">{::lang::servercenter::main::nav::statistiken}</span>
                                </a>
                            </li>
                            {/permissions}

                            {modsupport}{permissions??server??{cfg}??mods??show}
                            <li class="nav-item ">
                                <a href="/servercenter/{cfg}/mods" class="nav-link {__mods}" onmouseenter="$('#mods').toggleClass('d-lg-none', false)" onmouseleave="$('#mods').toggleClass('d-lg-none', true)">
                                    <i class="nav-icon fas fa-cogs pr-1" aria-hidden="true"></i> <span id="mods" class="d-lg-none">{::lang::servercenter::main::nav::mods}</span>
                                </a>
                            </li>{/permissions}{/modsupport}

                            {permissions??server??{cfg}??konfig??show}
                            <li class="nav-item ">
                                <a href="/servercenter/{cfg}/konfig" class="nav-link {__konfig}" onmouseenter="$('#konfig').toggleClass('d-lg-none', false)" onmouseleave="$('#konfig').toggleClass('d-lg-none', true)">
                                    <i class="nav-icon fa fa-file-code pr-1" aria-hidden="true"></i> <span id="konfig" class="d-lg-none">{::lang::servercenter::main::nav::config}</span>
                                </a>
                            </li>
                            {/permissions}

                            {permissions??server??{cfg}??logs??show}
                            <li class="nav-item ">
                                <a href="/servercenter/{cfg}/logs" class="nav-link {__logs}" onmouseenter="$('#logs').toggleClass('d-lg-none', false)" onmouseleave="$('#logs').toggleClass('d-lg-none', true)">
                                    <i class="nav-icon fas fa-list pr-1" aria-hidden="true"></i> <span id="logs" class="d-lg-none">{::lang::servercenter::main::nav::logs}</span>
                                </a>
                            </li>
                            {/permissions}

                            {permissions??server??{cfg}??backup??show}
                            <li class="nav-item ">
                                <a href="/servercenter/{cfg}/backup" class="nav-link {__backups}" onmouseenter="$('#backups').toggleClass('d-lg-none', false)" onmouseleave="$('#backups').toggleClass('d-lg-none', true)">
                                    <i class="nav-icon fas fa-file-archive pr-1" aria-hidden="true"></i> <span id="backups" class="d-lg-none">{::lang::servercenter::main::nav::backup}</span>
                                </a>
                            </li>
                            {/permissions}

                            {permissions??server??{cfg}??filebrowser??show}
                            <li class="nav-item ">
                                <a href="/servercenter/{cfg}/file_manager" class="nav-link {__file_manager}" onmouseenter="$('#file_manager').toggleClass('d-lg-none', false)" onmouseleave="$('#file_manager').toggleClass('d-lg-none', true)">
                                    <i class="nav-icon fas fa-file pr-1" aria-hidden="true"></i> <span id="file_manager" class="d-lg-none">{::lang::servercenter::main::nav::files}</span>
                                </a>
                            </li>
                            {/permissions}

                            {permissions??server??{cfg}??saves??show}
                            <li class="nav-item">
                                <a href="/servercenter/{cfg}/saves" class="nav-link {__saves}" onmouseenter="$('#saves').toggleClass('d-lg-none', false)" onmouseleave="$('#saves').toggleClass('d-lg-none', true)">
                                    <i class="nav-icon fas fa-folder-open pr-1" aria-hidden="true"></i> <span id="saves" class="d-lg-none">{::lang::servercenter::main::nav::saves}</span>
                                </a>
                            </li>
                            {/permissions}

                            {permissions??server??{cfg}??jobs??show}
                            <li class="nav-item ">
                                <a href="/servercenter/{cfg}/jobs" class="nav-link {__jobs}" onmouseenter="$('#jobs').toggleClass('d-lg-none', false)" onmouseleave="$('#jobs').toggleClass('d-lg-none', true)">
                                    <i class="nav-icon fas fa-tasks pr-1" aria-hidden="true"></i> <span id="jobs" class="d-lg-none">{::lang::servercenter::main::nav::jobs}</span>
                                </a>
                            </li>
                            {/permissions}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<div id="all_resp"></div>
{cluster_meld} {!rcon}{rcon_meld}{/!rcon}

<div class="row">
    {panel}
</div>

<script>
    $(document).ready(function() {
        getphp("/php/async/get/servercenter.main.async.php?cfg={cfg}&type=cards&case=info", "server-stats");

        setInterval(function() {
            getphp("/php/async/get/servercenter.main.async.php?cfg={cfg}&type=img&case=info", "serv_img");

            $.get("/app/json/serverinfo/{cfg}.json", (data) => {
                let installed = {installed_int};
                let expert = {exp_int};
                let serv_state = "{::lang::php::function_allg::state_off}";
                let serv_color = "danger";
                let statecode = 0;
                if (installed !== 1) {
                    serv_state = "{::lang::php::function_allg::state_notinstalled}";
                    serv_color = "warning";
                    statecode = 3;
                }
                else if (data.listening === "Yes" && data.online === "Yes" && data.run === "Yes") {
                    serv_state = "{::lang::php::function_allg::state_on}";
                    serv_color = "success";
                    statecode = 2;
                }
                else if (data.listening === "No" && data.online === "No" && data.run === "Yes") {
                    serv_state = "{::lang::php::function_allg::state_start}";
                    serv_color = "info";
                    statecode = 1;
                }
                else if (data.listening === "Yes" && data.online === "No" && data.run === "Yes") {
                    serv_state = "{::lang::php::function_allg::state_start}";
                    serv_color = "info";
                    statecode = 1;
                }
                else if (data.listening === "No" && data.online === "Yes" && data.run === "Yes") {
                    serv_state = "{::lang::php::function_allg::state_start}";
                    serv_color = "info";
                    statecode = 1;
                }

                // Status
                if($('#state').html() !== serv_state) $('#state').html(serv_state).attr('class',`description-header text-${serv_color}`);

                // Spieler
                let inhalt;
                if(statecode === 2) {
                    inhalt = `<a href="#" data-toggle="modal" data-target="#playerlist_modal">${data.aplayers} / ${data.players}</a>`;
                }
                else {
                    inhalt = `${data.aplayers} / ${data.players}`;
                }
                if($('#player').html() !== inhalt) $('#player').html(inhalt);

                // Actions


                // Action Card
                let css;
                if (data.next === "TRUE" && expert === 1) {
                    inhalt = `<a href="javascript:void()" class="small-box-footer text-danger" data-toggle="modal" data-target="#action">{::lang::php::async::get::servercenter::main::action_pick}</a>`;
                    css = 'danger';
                }
                else if (data.next === "TRUE") {
                    inhalt `{::lang::php::async::get::servercenter::main::action_closed}`;
                    css = 'danger';
                }
                else if (data.next === "FALSE") {
                    inhalt = `<a href="javascript:void()" class="small-box-footer text-success" data-toggle="modal" data-target="#action">{::lang::php::async::get::servercenter::main::action_pick}</a>`;
                    css = 'success';
                }
                if($('#actions').html() !== inhalt) $('#actions').html(inhalt).attr('class',`description-header text-${css}`);
            });
        }, 1000);

        $("#action_form").submit(() => {
            $.post("/php/async/post/servercenter.main.async.php?case=action", $("#action_form").serialize())
                .done(function(data) {
                    console.log(data);
                    data = JSON.parse(data);
                    if (data.code != 404) {
                        $("#action_resp").html(data.msg);
                        $("#all_resp").html(data.msg);
                        $('#action').modal('hide')
                    } else {
                        $("#action_resp").html(data.msg);
                    }
                });
            return false;
        });

        $('#action_sel').change(() => {
            var action = $("#action_sel").val();
            $.getJSON("/app/json/panel/parameter.json", function(data) {
                $.each(data, function(i, item) {
                    if (item.type == 0) $(item.id_js).prop('checked', false);
                    if (item.type == 1) $(item.id_js).val('');
                    $(item.id_js).attr("disabled", true);
                    $.each(item.for, function(il, iteml) {
                        if (iteml == action) {
                            $(item.id_js).attr("disabled", false);
                        }
                    });
                });
            });
            $.get("/php/async/get/servercenter.main.async.php", {
                "action": action,
                "case": "actioninfo",
                "cfg": "{cfg}"
            }, function(data) {
                $("#actioninfo").html(data);
            });
        });
    });

    // von: https://gist.github.com/anazard/d42354f45e172519c0be3cead34fe869
    // {
    var $body = document.getElementsByTagName('body')[0];
    var $btnCopy = document.getElementById('btnCopy');
    var secretInfo = document.getElementById('secretInfo').innerHTML;

    var copyToClipboard = (secretInfo) => {
        var $tempInput = document.createElement('INPUT');
        $body.appendChild($tempInput);
        $tempInput.setAttribute('value', secretInfo)
        $tempInput.select();
        document.execCommand('copy');
        $body.removeChild($tempInput);
    }

    $btnCopy.addEventListener('click', (ev) => {
        copyToClipboard(secretInfo);
        alert("Kopiert: " + secretInfo);
    });
    // }
</script>


{permissions??server??{cfg}??actions}
<div class="modal fade" id="action" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="action_form" class="modal-dialog modal-xl" role="document" style="max-width: 700px" method="POST">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title">{::lang::servercenter::main::modal::send_command::title}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="action_resp"></p>
                {expert}
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{::lang::servercenter::main::modal::send_command::custom_action}</span>
                    </div>
                    <input name="custom" type="text" class="form-control" placeholder="{::lang::servercenter::main::modal::send_command::custom_action_ph}">
                </div>
                <div class="icheck-primary mb-3 col-md-12">
                    <input type="checkbox" name="force" value="true" id="forcethis">
                    <label for="forcethis">
                            {::lang::servercenter::force_action}
                        </label>
                </div>
                <hr>{/expert}
                <input name="cfg" id="cfg" value="{cfg}" type="hidden">
                <select name="action" id="action_sel" class="form-control">
                    {action_list}
                </select>
                <div id="actioninfo"></div>
                <hr>

                <div class="form-row" style="padding-left: 25px;padding-right: 25px">{para_list}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{::lang::servercenter::main::modal::send_command::btn_close}</button>
                <button type="submit" class="btn btn-primary" id="sendaction">{::lang::servercenter::main::modal::send_command::btn_send}</button>
            </div>
        </div>
    </form>
</div>
{/permissions}

{permissions??server??{cfg}??show_players}
<div class="modal fade" id="playerlist_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 700px">
        <div class="modal-content ">
            <div class="modal-header bg-orange text-white rounded-0">
                <h5 class="modal-title">{::lang::servercenter::main::modal::player_list::title}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <ul class="list-group" style="border:0; border-radius: 0">{playerlist}</ul>
            </div>
            <div class="modal-footer bg-gray-200">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{::lang::servercenter::main::modal::player_list::btn_close}</button>
            </div>
        </div>
    </div>
</div>
{/permissions}