{type0}
<div class="icheck-primary mb-3 col-md-6">
    <input type="checkbox" name="para[]" value="{parameter}" id="{name}" disabled>
    <label for="{name}">
        {parameter}
    </label>
</div>
{/type0} {type1}
<div class="icheck-primary mb-6 col-md-12 ">
    <div class="input-group">
        <input type="text" class="form-control" name="txt[{i}]['input']" value="" id="{name}" placeholder='{parameter}=""' disabled>
        <input type="hidden" name="txt[{i}]['para']" value="{parameter}">
    </div>
</div>
{/type1}