<div class="col-xl-4 col-md-0 mb-0">
    <div class="small-box rounded-0 bg-{serv_color}">
        <div class="inner">
            <h3>{serv_state}</h3>

            <p>{::lang::servercenter::topline::state}</p>
        </div>
        <div class="icon">
            <i class="fa fa-server"></i>
        </div>
        <a href="javascript:void()" class="small-box-footer">&nbsp</a>
    </div>
</div>

<div class="col-xl-4 col-md-0 mb-0">
    <div class="info-box bg-info rounded-0" style="height: 142px;">
        <span class="info-box-icon"><i class="fa fa-users"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">{::lang::servercenter::topline::player}</span>
            <span class="info-box-number">{pl_pla} / {pl_plmax}</span>

            <div class="progress">
                <div class="progress-bar" style="width: {pl_plpro}%"></div>
            </div>
            <span class="progress-description">
                <br />
                {permissions??server??{cfg}??show_players}<button type="button" class="btn btn-block btn-dark btn-sm {pl_disabled}" {pl_modal}>{pl_btntxt}</button>{/permissions}
            </span>
        </div>
    </div>
</div>

<div class="col-xl-4 col-md-0 mb-0">
    <div class="small-box rounded-0 bg-{action_color}">
        <div class="inner">
            <h3 class="text-white">{action_state}</h3>
            <p class="text-white">{::lang::servercenter::topline::action}</p>
        </div>
        <div class="icon">
            <i class="fa fa-tasks"></i>
        </div>
        <a href="javascript:void()" class="small-box-footer" {permissions??server??{cfg}??actions}{action_modal}>{action_btntxt}{/permissions}{!permissions??server??{cfg}??actions}&nbsp;>{/!permissions}</a>
    </div>
</div>