<div id="all_resp">{resp}</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="nav navbar-nav mr-auto aa-nav" id="pills-tab">
            <li class="nav-item" style="margin-right: 5px">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-Panel" role="tab" aria-controls="pills-Panel" aria-selected="true">Panel</a>
            </li>
            <li class="nav-item" style="margin-right: 5px">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-Arkmanager" role="tab" aria-controls="pills-Arkmanager" aria-selected="false">Arkmanager.cfg</a>
            </li>
            <li class="nav-item" style="margin-right: 5px">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-webhelper" role="tab" aria-controls="pills-webhelper" aria-selected="false">Config.Properties</a>
            </li>
        </ul>
    </div>
</nav>

<hr />

<div class="card shadow" style="border-radius: 0 0 0 0 !important;border-top: 0!important;">
    <div class="tab-content" id="pills-tabContent">
        <form action="#save" method="post" class="tab-pane fade show active" id="pills-Panel" role="tabpanel" aria-labelledby="pills-home-tab">

            <button type="submit" class="btn btn-primary" style="width: 100%;" name="savepanel">{::lang::config::btn_save}</button>
            <table class="table table-striped mb-0" id="form">
                <thead>
                    <tr>
                        <th style="width: 25%">{::lang::servercenter::config::th_config}</th>
                        <th>{::lang::servercenter::config::th_input}</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    {option_panel}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary" style="width: 100%;" name="savepanel">{::lang::config::btn_save}</button>
        </form>

        <form action="#save" method="post" class="tab-pane fade" id="pills-Arkmanager" role="tabpanel" aria-labelledby="pills-profile-tab">
            <button type="submit" class="btn btn-primary" name="savearkmanager" style="width: 100%;">{::lang::config::btn_save}</button>
            <textarea name="text" class="form-control form-control-sm" rows="3" style="min-height: 500px;max-height: 500px;" id="text_game">{arkmanager}</textarea>
        </form>

        <form action="#save" method="post" class="tab-pane fade" id="pills-webhelper" role="tabpanel" aria-labelledby="pills-profile-tab">
            <button type="submit" class="btn btn-primary" name="savewebhelper" style="width: 100%;">{::lang::config::btn_save}</button>
            <textarea name="text" class="form-control form-control-sm" rows="3" style="min-height: 500px;max-height: 500px;" id="text_game">{webhelper}</textarea>
        </form>
    </div>
</div>