###  mod_rewrite

<IfModule mod_rewrite.c>

    # Tell PHP that the mod_rewrite module is ENABLED.
    SetEnv HTTP_MOD_REWRITE On

	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule .* /index.php

</IfModule>

###   Set Options
Options +FollowSymlinks
Options -SymLinksIfOwnerMatch