<tr>
    {!ifemtpy}<td style="width:5%">
        {id}
    </td>{/!ifemtpy}
    <td style="width:80%" {ifemtpy}colspan="3"{/ifemtpy}>
    {!ifemtpy}
        <div class="input-group">
            <input type="text" class="form-control rounded-0" readonly="true" value="{code}" id="copy{id}">
            <span class="input-group-append">
                <button onclick="copythis('copy{id}')" class="btn btn-primary btn-flat" type="button">
                    <i class="fas fa-copy" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    {/!ifemtpy}
    {ifemtpy}
        {code}
    {/ifemtpy}
    </td>
    {!ifemtpy}<td style="width:15%">
        <a class="btn btn-danger btn-sm" href="/userpanel/rmcode/{id}">
            <i class="fas fa-trash" aria-hidden="true">
            </i>
            Löschen
        </a>
    </td>{/!ifemtpy}
</tr>