<tr>
    {!ifemtpy}<td style="width:5%">
        {rank}
    </td>{/!ifemtpy}
    <td style="width:80%" {ifemtpy}colspan="3"{/ifemtpy}>
    {!ifemtpy}
        <div class="input-group">
            <input type="text" class="form-control rounded-0" readonly="true" value="{code}" id="copy{id}">
            <span class="input-group-append">
                <button onclick="copythis('copy{id}')" class="btn btn-primary btn-flat" type="button">
                    <i class="fas fa-copy" aria-hidden="true"></i>
                </button>
                {permissions??userpanel??delete_code}<a class="btn btn-danger" href="{ROOT}/userpanel/rmcode/{id}">
                    <i class="fas fa-trash" aria-hidden="true"></i>
                </a>{/permissions}
            </span>
        </div>
    {/!ifemtpy}
    {ifemtpy}
        {code}
    {/ifemtpy}
    </td>
</tr>