{!ifmodal}
<tr>
    <td>
        {ifban}<span class="badge badge-danger">{::lang::userpanel::list::banned}</span>{/ifban} {!ifban}
        <span class="badge badge-success">{::lang::userpanel::list::notbanned}</span>{/!ifban}
        {username}
    </td>
    <td>
        {rank}
    </td>
    <td>
        {email}
    </td>
    <td>
        {regdate}
    </td>
    <td>
        {lastlogin}
    </td>
    <td class="project-actions text-right">
        {!self}{permissions??userpanel??delete_user}
        <a class="btn btn-danger btn-sm" href="#" data-toggle="modal" data-target="#remove{username}">
            <i class="fas fa-trash">
            </i> {::lang::userpanel::list::remove}
        </a>{/permissions}
        {permissions??userpanel??ban_user}{ifban}
        <a class="btn btn-danger btn-sm" href="/userpanel/tban/{uid}/0">
            <i class="fa fa-check">
            </i> {::lang::userpanel::list::unban}
        </a>
        {/ifban}{!ifban}
        <a class="btn btn-danger btn-sm" href="/userpanel/tban/{uid}/1">
            <i class="fa fa-times">
            </i> {::lang::userpanel::list::ban}
        </a>
        {/!ifban}{/permissions}{/!self}
        {permissions??all??is_admin}
        <a class="btn btn-info btn-sm" href="#" onclick="$('#permissions_{username}').toggle()">
            </i> {::lang::userpanel::list::show_permissions}
        </a>
        {/permissions}
    </td>
</tr>
{permissions??all??is_admin}
    <tr style="display: none" id="permissions_{username}">
        <td class="m-0 p-0" colspan="6">
            <form action="#" method="post">
                <input name="editperm" type="submit" value="{::lang::allg::save}" class="btn btn-sm btn-success" style="width: 100%">
                <table class="m-0 p-0 table table-striped">
                    {user_permissions}
                </table>
                <input name="userid" type="hidden" value="{uid}">
                <input name="editperm" type="submit" value="{::lang::allg::save}" class="btn btn-sm btn-success" style="width: 100%">
            </form>
        </td>
    </tr>
<tr style="display: none"></tr>
{/permissions}
{/!ifmodal}{ifmodal}{permissions??userpanel??delete_user}
<!-- Modal -->
<form class="modal fade" id="remove{username}" tabindex="-1" method="post" action="/userpanel">
    <div class="modal-dialog modal-xl" role="document" style="max-width: 700px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{::lang::userpanel::list::modal::remove::remove}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p><span class="text-danger">{::lang::userpanel::list::modal::remove::body}</span></p>
                <input name="userid" value="{uid}" type="hidden">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{::lang::userpanel::list::modal::remove::btn-cancel}</button>
                <button type="submit" class="btn btn-danger" name="del">{::lang::userpanel::list::modal::remove::btn-remove}</button>
            </div>
        </div>
    </div>
</form>{/permissions}{/ifmodal}