{!ifmodal}<div class="col-lg-6 col-xl-6">
    <div class="card card-widget widget-user">
        <div class="card bg-dark card-widget widget-user mb-0">
            <div class="row p-2" title="Breedable Creatures Bundle">
                <div class="col-12 text-center">
                    <h5 class="text-center left d-inline pt-3 pl-0 m-0">
                        {servername}
                    </h5>
                </div>

            </div>
        </div>
        <div class="widget-user-header text-white" style="background: url('{bg_img}') center center;">
            {ifincluster}
                <h5 title="Structures Plus (S+)" class="widget-user-desc text-bold text-center border" style="background-color: rgb(66 66 66 / 58%)!important;">
                    <a href="/cluster#{clusterid}" class="text-light">{clustername}</a>
                </h5>
            {/ifincluster}
        </div>
        <div class="widget-user-image" id="serv_img" style="top: 124px;z-index: 1000"><img src="{server_img}" style="border-top-width: 3px!important;height: 90px;width: 90px;background-color: #001f3f" class="border-secondary"></div>
        <div class="card card-widget widget-user mb-0">
            <div class="text-left left d-inline" style="width:50%;padding-right: 45px;">
                <a {permissions??server??{cfg}??show}href="/servercenter/{cfg}"{/permissions} target="_blank" style="width: 100%" class="btn btn-dark {!permissions??server??{cfg}??show}disabled{/permissions}"><i class="fas fa-server" aria-hidden="true"></i></a>
            </div>
            <div class="right-no-top ml-auto d-inline" style="width:50%;padding-left: 45px;">
                <a style="width: 100%" class="text-white btn btn-danger {!permissions??servercontrollcenter??delete}disabled{/!permissions}" {permissions??servercontrollcenter??delete}data-toggle="modal" data-target="#remove{cfg}"{/permissions}><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="card-footer p-0">
            <div class="row">
                <div class="col-sm-6 border-right">
                    <div class="description-block">
                        <h5 class="description-header"><b><a href="{con_url}">{servadress}</a></b></h5>
                        <span class="description-text">IP</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="description-block">
                        <h5 class="description-header"><b>{map_str}</b></h5>
                        <span class="description-text">Map</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>{/!ifmodal}

{ifmodal}{permissions??servercontrollcenter??delete}
<!-- Modal -->
<form class="modal fade" id="remove{cfg}" tabindex="-1" method="post" action="#">
    <div class="modal-dialog modal-xl" role="document" style="max-width: 700px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{::lang::scc::list::modal::title}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p><span class="text-danger">{::lang::scc::list::modal::danger_serveroffline}</span></p>
                <input name="cfg" value="{cfg}" type="hidden">
                <div class="icheck-primary mb-3">
                    <input type="checkbox" name="opt[]" value="deinstall" id="rm{cfg}">
                    <label for="rm{cfg}">
                        {::lang::scc::list::modal::uninstall}
                    </label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{::lang::scc::list::modal::btn_cancel}</button>
                <button type="submit" class="btn btn-danger" name="del">{::lang::scc::list::modal::btn_delete}</button>
            </div>
        </div>
    </div>
</form>{/permissions}{/ifmodal}