<div id="all_resp">{resp}</div>
<section class="content">
    <div class="row">
        {list}
        {not_max}<a class="col-sm-6" data-toggle="modal" data-target="#addserver" href="#">
                <div class="border border-success text-success align-content-center justify-content-center align-items-center d-flex card" style="font-size: 75px; width:100%; height:278px; border: 2px solid!important; cursor: pointer">
                    <i class="fas fa-plus"></i>
                </div>
        </a>{/not_max}
    </div>
</section>
{list_modal}
{permissions??servercontrollcenter??create}{not_max}
<!-- Modal -->
<form class="modal fade" id="addserver" tabindex="-1" method="post" action="#">
    <div class="modal-dialog modal-xl" role="document" style="max-width: 700px">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title">{::lang::scc::modal::title}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row mb-1">
                    <label class="col-sm-4 col-form-label">Game-Port</label>
                    <div class="col-sm-8">
                        <input type="number" name="port[]" class="form-control" placeholder="7777">
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-sm-4 col-form-label">Query-Port</label>
                    <div class="col-sm-8">
                        <input type="number" name="port[]" class="form-control" placeholder="27015">
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <label class="col-sm-4 col-form-label">RCON-Port</label>
                    <div class="col-sm-8">
                        <input type="number" name="port[]" class="form-control" placeholder="20584">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{::lang::scc::modal::btn_cancel}</button>
                <button type="submit" class="btn btn-success" name="add">{::lang::scc::modal::btn_add}</button>
            </div>
        </div>
    </div>
</form>{/not_max}{/permissions}