<style>
.content-header ul {
    margin-bottom: 10px!important;
}
.content-header ul ul{
    margin-bottom: 2.5px!important;
}
.timeline h5 {
    border-top: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 16px;
    line-height: 1.1;
    margin: 0;
    padding: 10px;
    color: #fff!important;
    background-color: #17a2b8!important;
}
.timeline ul {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px!important;
}
.timeline ul ul {
    padding-top: 0;
    margin-bottom: 2.5px!important;
}
</style>
<div class="row">
    <div class="col-md-12">

        <div class="timeline" style="margin-right: 0px;">
            {list}
        </div>
    </div>
</div>