<tr>
    <td>{::lang::home::list::changelog::version}</td>
    <td>{date}</td>
    <td>{lastupdate}</td>
    <td><span class="badge badge-{state_css} rounded-0">{state}</span></td>
    <td>
        <a href="{ROOT}/changelog#{version}" class="btn btn-xs btn-primary rounded-0"><i class="nav-icon fa fa-book" aria-hidden="true"></i> {::lang::home::list::changelog::read}</a>
        {ifgit}<a href="{git}" target="_blank" class="btn btn-xs btn-dark rounded-0"><i class="nav-icon fab fa-github" aria-hidden="true"></i> Github</a>{/ifgit}
        {ifdownload}<a href="{download}" download="" class="btn btn-xs btn-dark rounded-0"><i class="nav-icon fa fa-download" aria-hidden="true"></i> {::lang::home::list::changelog::download}</a>{/ifdownload}
    </td>
</tr>