<style>
    .bg-login-image {
        background: url('{ROOT}/app/dist/img/backgrounds/side.jpg');
        background-size: cover;
    }
    
    body {
        background: rgba(11, 19, 26, 1) url('{ROOT}/app/dist/img/backgrounds/bg.jpg') no-repeat scroll center top;
    }
</style>

<body class="bg-gradient-primary">

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6" style="height:550px;">



                                <div class="p-5">
                                    <div class="text-center">
                                        {re}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>