<section class="content">
    <div class="error-page">
        <h2 class="headline text-danger"> 404</h2>

        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-danger"></i> {::lang::err404::title}</h3>

            <p>
                {::lang::err404::line1}
                {::lang::err404::line2}
            </p>

            <form class="search-form">
                <a class="btn btn-danger text-white" style="width: 100%" href="/"><i class="nav-icon fas fa-tachometer-alt" aria-hidden="true"></i> {::lang::err404::btn-back}</a>
            </form>
        </div>
    </div>
</section>