<a href="/servercenter/{cfg}/home" class="dropdown-item">
    <div class="media">
        <div id="img_{cfg}" class="mr-2"></div>
        <div class="media-body">
            <h3 class="dropdown-item-title">
                {servername}
            </h3>
            <p class="text-sm">
                {subline} {ifin}
                <br /><span class="info-box-text"><i class="fas fa-random" aria-hidden="true"></i> {typestr} {clustername}</span>{/ifin}
            </p>
        </div>
    </div>
</a>
<div class="dropdown-divider"></div>

<script>
    getphp("/php/async/get/servercenter.main.async.php?cfg={cfg}&type=imgtop&case=info", "img_{cfg}");
</script>