<div class="col-xl-9 col-md-8 mb-4">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="nav navbar-nav mr-auto aa-nav" id="pills-tab">
                {!ifckonfig}
                <li class="nav-item" style="margin-right: 5px">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-GameUserStetting" role="tab" aria-controls="pills-home" aria-selected="true">GameUserSettings.ini</a>
                </li>
                <li class="nav-item" style="margin-right: 5px">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-Game" role="tab" aria-controls="pills-profile" aria-selected="false">Game.ini</a>
                </li>
                <li class="nav-item" style="margin-right: 5px">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-Engine" role="tab" aria-controls="pills-contact" aria-selected="false">Engine.ini</a>
                </li>{/!ifckonfig}
                <li class="nav-item">
                    <a class="nav-link {ifckonfig} active {/ifckonfig}" id="pills-contact-tab" data-toggle="pill" href="#pills-Cfg2" role="tab" aria-controls="pills-contact" aria-selected="false">Arkmanager</a>
                </li>
                {expert}
                <li class="nav-item">
                    <a class="nav-link" id="pills-expert-tab" data-toggle="pill" href="#pills-Cfg3" role="tab" aria-controls="pills-expert" aria-selected="false">[Expert] Arkmanager</a>
                </li>{/expert}
            </ul>
        </div>
    </nav>
    <hr />
    <div class="card shadow" style="border-radius: 0 0 0 0 !important;border-top: 0!important;">
        <div class="tab-content" id="pills-tabContent">
            {!ifckonfig}
            <form action="#save" method="post" class="tab-pane fade show active" id="pills-GameUserStetting" role="tabpanel" aria-labelledby="pills-home-tab">
                <div id="form">
                    <button type="submit" class="btn btn-primary" name="save" style="width: 100%">{::lang::servercenter::config::btn_save}</button>
                    <textarea name="text" class="form-control form-control-sm" rows="3" style="min-height: 700px;max-height: 700px;" id="text_gus">{gus}</textarea>
                    <input type="hidden" name="type" id="type_gus" value="GameUserSettings.ini">
                    <input type="hidden" name="cfg" id="cfg_gus" value="{cfg}">
                </div>
            </form>


            <form action="#save" method="post" class="tab-pane fade" id="pills-Game" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div>
                    <button type="submit" class="btn btn-primary" name="save" style="width: 100%">{::lang::servercenter::config::btn_save}</button>
                    <textarea name="text" class="form-control form-control-sm" rows="3" style="min-height: 700px;max-height: 5700px;" id="text_game">{game}</textarea>
                    <input type="hidden" name="type" id="type_game" value="Game.ini">
                    <input type="hidden" name="cfg" id="cfg_game" value="{cfg}">
                </div>
            </form>


            <form action="#save" method="post" class="tab-pane fade" id="pills-Engine" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div>
                    <button type="submit" class="btn btn-primary" name="save" style="width: 100%">{::lang::servercenter::config::btn_save}</button>
                    <textarea name="text" class="form-control form-control-sm" rows="3" style="min-height: 700px;max-height: 700px;" id="text_engine">{engine}</textarea>
                    <input type="hidden" name="type" id="type_engine" value="Engine.ini">
                    <input type="hidden" name="cfg" id="cfg_engine" value="{cfg}">
                </div>
            </form>{/!ifckonfig}


            <div class="tab-pane fade {ifckonfig}show active{/ifckonfig}" id="pills-Cfg2" role="tabpanel" aria-labelledby="pills-contact-tab">
                <form action="#save" method="post">
                    <button type="submit" class="btn btn-primary" style="width: 100%;" name="savecfg">{::lang::servercenter::config::btn_save}</button>
                    <table class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th style="width: 100px">{::lang::servercenter::config::th_config}</th>
                                <th>{::lang::servercenter::config::th_input}</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            {form}
                            <tr>
                                <td class="p-2">Ark Flag</td>
                                <td class="p-2">
                                    <select multiple="multiple" size="10" name="flag[]" style="width: 100%;" class="duallistbox">
                                        {ark_flag}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-2">{::lang::servercenter::config::custom}</td>
                                <td class="p-2">
                                    <div class="input-group">
                                        <input id="custom_key" type="text" class="form-control form-control-sm" placeholder="arkwarnminutes">
                                        <input id="custom_val" type="text" class="form-control form-control-sm" placeholder="30">
                                        <span onclick="add_input()" style="cursor:pointer" class="input-group-btn btn-success pr-2 pl-2 pt-1" id="basic-addon2"><i class="fa fa-plus" aria-hidden="true"></i></span>

                                        <script>
                                            function add_input() {
                                                var key = $("#custom_key");
                                                var val = $("#custom_val");
                                                var table = $("#tbody");

                                                var tpl = '<tr id="tmp_' + key.val() + '"><td>' + key.val() + '</td><td><div class="input-group mb-0">' +
                                                    '<input type="hidden" name="key[]" readonly value="' + key.val() + '">' +
                                                    '<input type="text" name="value[]" class="form-control form-control-sm"  value="' + val.val() + '">' +
                                                    '<div class="input-group-append">' +
                                                    '<span onclick="remove(\'tmp_' + key.val() + '\')" style="cursor:pointer" class="input-group-btn btn-danger pr-2 pl-2 pt-1" id="basic-addon2"><i class="fa fa-times" aria-hidden="true"></i></span>' +
                                                    '</div>' +
                                                    '</div></td></tr>';

                                                if (key.val() != "" && val.val() != "") {
                                                    table.append(tpl);
                                                    key.val('');
                                                    val.val('');
                                                }
                                            }
                                        </script>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary" style="width: 100%;" name="savecfg">{::lang::servercenter::config::btn_save}</button>

                </form>
            </div>


            <div class="tab-pane fade" id="pills-Cfg3" role="tabpanel" aria-labelledby="pills-expert-tab">
                <form action="#save" method="post">
                    <button type="submit" class="btn btn-primary" name="savecfg_expert" style="width: 100%">{::lang::servercenter::config::btn_save}</button>
                    <textarea name="txtarea" class="form-control form-control-sm" rows="3" style="min-height: 700px;max-height: 700px;">{amcfg}</textarea>
                </form>
            </div>


        </div>
    </div>
</div>

<script>
    $('select[name="flag[]"]').bootstrapDualListbox({
        nonSelectedListLabel: '{::lang::servercenter::config::sel}',
        selectedListLabel: '{::lang::servercenter::config::nonsel}',
        preserveSelectionOnMove: 'moved',
        infoText: null,
        showFilterInputs: true,
        moveOnSelect: false
    });
</script>