<!DOCTYPE html>

<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>KAdmin-ArkLIN :: {pagename}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Arkserver Panel (Linux Arkmanger)">
    <meta name="author" content="Oliver Kaufmann">

    <script src="https://kit.fontawesome.com/5946e206fb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script src="/app/dist/jquery/jquery-3.4.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js?time={time}"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="/app/dist/js/KAdmin-ArkLIN/all/KAdmin-ArkLIN.js?time={time}"></script>
    <script src="/app/dist/js/adminLTE/adminlte.min.js"></script>
    <script src="/app/dist/js/adminLTE/jquery.bootstrap-duallistbox.js"></script>
    <script src="/app/dist/plugins/sweetalert2/sweetalert2.min.js"></script>
    <link rel="script" href="{ROOT}/app/dist/js/KAdmin-ArkLIN/all/KAdmin-ArkLIN.js">
    <link rel="stylesheet" href="{ROOT}/app/dist/css/adminlte.min.css?time={time}">
    <link rel="stylesheet" href="{ROOT}/app/dist/css/KAdmin-ArkLIN.css?time={time}">
    <link rel="stylesheet" href="{ROOT}/app/dist/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="{ROOT}/app/dist/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="{ROOT}/app/dist/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <link rel="stylesheet" href="{ROOT}/app/dist/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <link rel="stylesheet" href="{ROOT}/app/dist/plugins/icheck/icheck-bootstrap.min.css">
    <style>
        .card-body.p-0 .table tbody>tr>td:last-of-type {
            padding-right: .75rem!important;
        }
    </style>

    <style>
        .right {
            position: absolute;
            right: 1rem;
            top: .7rem;
        }
        
        .right-no-top {
            position: absolute;
            right: 0rem;
        }
    </style>

    </script>
</head>

<body class="layout-top-nav" style="height: auto;">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
            <div class="container">
                <a href="{ROOT}/install.php" class="navbar-brand">
                    <span class="brand-text font-weight-light">KAdmin-ArkLIN :: {::lang::install::installer}</span>
                </a>
                <div class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="true">
                        <i class="fas fa-language text-lg"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
                        {langlist}
                    </div>
                </div>
            </div>
        </nav>

        <div class="content-wrapper" style="min-height: 823px;">
            <div class="content-header">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">
                                <!--{title}-->
                            </h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item">{::lang::install::installer}</li>
                                <li class="breadcrumb-item active">{::lang::install::step} {stepid}</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="container">
                    {resp}
                    <div class="card">
                        <div class="card-header border-transparent bg-dark">
                            <h3 class="card-title">{::lang::install::step{steptid}::title}</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                            <h3>{::lang::install::allg::texttitle}</h3>
                            <p>{::lang::install::allg::text}</p>
                            <hr>
                            <p>{::lang::install::step{steptid}::text}</p>
                        </div>
                    </div>
                    {content}
                    <div class="p-4"></div>
    <div class="p-4"></div>
                </div>
            </div>
        </div>
        </div>
        <script src="/app/dist/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
        <script src="/app/dist/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
        <script src="/app/dist/plugins/select2/js/select2.full.min.js"></script>
        <script src="/app/dist/plugins/sweetalert2/sweetalert2.min.js"></script>

        <script>
            $(function() {
                $('[data-toggle="tooltip"]').tooltip();
            });
            $(function() {
                $('[data-toggle="popover_action"]').popover({
                    trigger: 'hover'
                });
            });
        </script>
</body>