
<div class="row">
    <div class="col-md-12 col-sm-12 col-12">
        <div class="card card-dark rounded-0">
            <div class="card-header rounded-0">
                <h3 class="card-title">{::lang::install::step2::form::title}</h3>
            </div>

            <form role="form" method="post" action="#">
                <table class="table table-striped mb-0" id="form">
                    <thead>
                        <tr>
                            <th style="width: 25%">{::lang::servercenter::config::th_config}</th>
                            <th>{::lang::servercenter::config::th_input}</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">

                        <tr>
                            <td class="p-2">{::lang::install::step2::form::host}</td>
                            <td class="p-2">
                                <input type="text" name="host" class="form-control" id="host" placeholder="127.0.0.1">
                            </td>
                        </tr>

                        <tr>
                            <td class="p-2">{::lang::install::step2::form::user}</td>
                            <td class="p-2">
                                <input type="text" name="user" class="form-control" id="host" placeholder="root">
                            </td>
                        </tr>

                        <tr>
                            <td class="p-2">{::lang::install::step2::form::pw}</td>
                            <td class="p-2">
                                <input type="text" name="pw" class="form-control" id="host" placeholder="0123456789">
                            </td>
                        </tr>

                        <tr>
                            <td class="p-2">{::lang::install::step2::form::base}</td>
                            <td class="p-2">
                                <input type="text" name="base" class="form-control" id="host" placeholder="ArkAdmin">
                            </td>
                        </tr>

                    </tbody>
                </table>

                <div class="card-footer rounded-0 p-0">
                    <button type="submit" name="send" class="btn btn-success" style="width: 100%">{::lang::install::step2::form::btn_send}</button>
                </div>
            </form>
        </div>
    </div>
</div>