<style>
    .card-body.p-0 .table tbody>tr>td:last-of-type {
        padding-right: .75rem!important;
    }
</style>


<div class="card">
    <div class="card-header border-transparent bg-dark">
        <h3 class="card-title">{::lang::install::step0::title}</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <div class="card-body">
        <h3>{::lang::install::step0::texttitle}</h3>
        <p>{::lang::install::step0::text}</p>
    </div>
</div>


<div class="card">
    <div class="card-header border-transparent bg-dark">
        <h3 class="card-title">{::lang::install::step0::subtitle}</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                    <tr>
                        <th>Modul</th>
                        <th style="width:49px"></th>
                        <th style="width:49px"></th>
                    </tr>
                </thead>
                <tbody>
                    {list_check}
                </tbody>
            </table>
        </div>
    </div>
</div>

{ifallok}

<div class="row">
    <div class="col-md-12 col-sm-12 col-12">
        <a href="/install.php/1" class="btn-success btn rounded-0" style="width: 100%">{::lang::install::step0::next}</a>
    </div>
</div>{/ifallok}