<div class="col-12 mb-4">
    <div class="card shadow" style="border: 0!important;">
        <div class="tab-content" id="pills-tabContent" style="border: 0!important;">
            <table class="table table-striped mb-0">
                <tr class="bg-dark">
                    <th colspan="2" class="p-0" style="border: 0!important;">
                        <div class="list-group-item bg-dark">
                            <h4 class="m-0">{::lang::servercenter::backup::nav::backup}</h4>
                        </div>
                    </th>
                </tr>
            </table>
            <div class="tab-pane fade show active" id="pills-GameUserStetting" role="tabpanel" aria-labelledby="pills-home-tab">
                {backups_liste}
            </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Vars die zur JS übergeben werden

    // Allgemeine Vars
    var vars = {};
    vars.ROOT = '{ROOT}';

    // Sprache
    var lang = {};

    // Sprache / Aktionen
    var actions = {};
</script>
<script src="/app/dist/js/arkadmin2/sub_pages/servercenter/backup.js?t={TIMESTAMP}" type="application/javascript"></script>