<div class="col-xl-9 col-md-8 mb-4">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="nav navbar-nav mr-auto aa-nav" id="pills-tab">
                <li class="nav-item" style="margin-right: 5px">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-GameUserStetting" role="tab" aria-controls="pills-home" aria-selected="true">{::lang::servercenter::backup::nav::backup}</a>
                </li>
            </ul>
        </div>
    </nav>
    <hr />
    <div class="card shadow" style="border-radius: 0 0 0 0 !important;border-top: 0!important;">
        <div class="tab-content" id="pills-tabContent">
            <table class="table table-striped mb-0">
                <tr class="bg-dark">
                    <th colspan="2" class="p-0">
                        <div class="list-group-item bg-dark">
                            <h4 class="m-0">{::lang::servercenter::backup::nav::backup}</h4>
                    </th>
                </tr>
            </table>
            <div class="tab-pane fade show active" id="pills-GameUserStetting" role="tabpanel" aria-labelledby="pills-home-tab">
                {backups_liste}
            </div>
            </div>
        </div>
    </div>