<div class="col-12 mb-4">
    <div class="tab-pane fade  active show" id="pills-Cfg2" role="tabpanel" aria-labelledby="pills-contact-tab">
        <table class="table table-striped mb-0">
            <tr class="bg-dark">
                <th colspan="2" class="p-0" style="border: 0!important;">
                    <div class="list-group-item bg-dark">
                        <h4 class="m-0">{::lang::php::sc::page::file_manager::urltop}</h4>
                    </div>
                </th>
            </tr>
        </table>
        <table class="table table-striped mb-0 border">
            <thead>
                <tr>
                    <th style="width: 25px;"></th>
                    <th>{::lang::servercenter::file_manager::th_filename}</th>
                    <th style="width: 135px;">{::lang::servercenter::file_manager::th_action}</th>
                </tr>
            </thead>
            <tbody id="tbody_files"></tbody>
        </table>
        </div>
    </div>
</div>

<script>
    // Vars die zur JS übergeben werden

    // Allgemeine Vars
    var vars = {};
    vars.ROOT = '{ROOT}';
    vars.cfg = "{cfg}";

    // Sprache
    // null

    // Sprache / Aktionen
    // null
</script>
<script src="/app/dist/js/arkadmin2/sub_pages/servercenter/file_manager.js?t={TIMESTAMP}" type="application/javascript"></script>