<div class="d-none" id="mods">false</div>
<div class="d-none" id="home">true</div>

<div class="col-12 mb-4">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="nav navbar-nav mr-auto aa-nav" id="pills-tab">
                <li class="nav-item">
                    <a  class="nav-link active" id="pills-llog-tab" data-toggle="pill" href="#pills-llog" role="tab" aria-controls="pills-llog" aria-selected="false" onclick="setdisplay('logbar', 'inline-flex'); setdisplay('hidebar', 'inline-flex')" onmouseenter="$('#llog').toggleClass('d-lg-none', false)" onmouseleave="$('#llog').toggleClass('d-lg-none', true)">
                        <i class="nav-icon fas fa-list pr-1" aria-hidden="true"></i> <span id="llog" class="d-lg-none">{::lang::servercenter::home::nav::llog}</span>
                    </a>
                </li>

                {rcon}{lchatactive}{permissions??server??{cfg}??home??livechat_show}
                <li class="nav-item">
                    <a  class="nav-link" id="pills-lchat-tab" data-toggle="pill" href="#pills-lchat" role="tab" aria-controls="pills-lchat" aria-selected="false" onclick="setdisplay('logbar', 'inline-flex'); setdisplay('hidebar', 'inline-flex')" onmouseenter="$('#lchat').toggleClass('d-lg-none', false)" onmouseleave="$('#lchat').toggleClass('d-lg-none', true)">
                        <i class="nav-icon fas fa-comment pr-1" aria-hidden="true"></i> <span id="lchat" class="d-lg-none">{::lang::servercenter::home::nav::lchat}</span>
                    </a>
                </li>
                {/permissions}{/lchatactive}

                {permissions??server??{cfg}??home??rcon_show}
                <li class="nav-item">
                    <a  class="nav-link" id="pills-rcon-tab" data-toggle="pill" href="#pills-rcon" role="tab" aria-controls="pills-rcon" aria-selected="false" onclick="setdisplay('logbar', 'inline-flex'); setdisplay('hidebar', 'inline-flex')" onmouseenter="$('#rcon').toggleClass('d-lg-none', false)" onmouseleave="$('#rcon').toggleClass('d-lg-none', true)">
                        <i class="nav-icon fas fa-terminal pr-1" aria-hidden="true"></i> <span id="rcon" class="d-lg-none">{::lang::servercenter::home::nav::rcon}</span>
                    </a>
                </li>
                {/permissions}{/rcon} {installed}{!ifcadmin}

                {permissions??server??{cfg}??home??admin_show}
                <li class="nav-item">
                    <a  class="nav-link" id="pills-admins-tab" data-toggle="pill" href="#pills-admins" role="tab" aria-controls="pills-admins" aria-selected="false" onclick="setdisplay('logbar', 'inline-flex'); setdisplay('hidebar', 'inline-flex')" onmouseenter="$('#admins').toggleClass('d-lg-none', false)" onmouseleave="$('#admins').toggleClass('d-lg-none', true)">
                        <i class="nav-icon fas fa-star pr-1" aria-hidden="true"></i> <span id="admins" class="d-lg-none">{::lang::servercenter::home::nav::admin}</span>
                    </a>
                </li>
                {/permissions}{/!ifcadmin}{!ifwhitelist}

                {permissions??server??{cfg}??home??whitelist_show}
                <li class="nav-item">
                    <a  class="nav-link" id="pills-whitel-tab" data-toggle="pill" href="#pills-whitel" role="tab" aria-controls="pills-whitel" aria-selected="false" onclick="setdisplay('logbar', 'inline-flex'); setdisplay('hidebar', 'inline-flex')" onmouseenter="$('#whitel').toggleClass('d-lg-none', false)" onmouseleave="$('#whitel').toggleClass('d-lg-none', true)">
                        <i class="nav-icon fas fa-door-open pr-1" aria-hidden="true"></i> <span id="whitel" class="d-lg-none">{::lang::servercenter::home::nav::whitel}</span>
                    </a>
                </li>
                {/permissions}{/!ifwhitelist}{/installed}
            </ul>
            <div class="form-inline">
                <div class="form-inline">

                    <div class="m-1 ml-auto float-right btn-group" style="display: inline-flex;" id="logbar">
                        <div class="btn-group">
                            <button class="btn btn-primary btn-sm" type="button">
                            {::lang::allg::logs::filter}: <b id="filter_txt">{::lang::allg::on}</b> <span class="d-none" id="filter">true</span>
                        </button>
                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(true);" onclick="set('{::lang::allg::on}', 'filter_txt');set('true', 'filter')">{::lang::allg::on}</a>
                                <a class="dropdown-item" href="javascript:void(true);" onclick="set('{::lang::allg::off}', 'filter_txt');set('false', 'filter')">{::lang::allg::off}</a>
                            </div>
                        </div>
                    </div>
                    <div class="m-1 ml-auto float-right btn-group" style="display: inline-flex;" id="logbar">
                        <div class="btn-group">
                            <button class="btn btn-primary btn-sm" type="button">
                            <b id="max">25</b>
                        </button>
                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void;" onclick="set(25, 'max')">25</a>
                                <a class="dropdown-item" href="javascript:void;" onclick="set(50, 'max')">50</a>
                                <a class="dropdown-item" href="javascript:void;" onclick="set(150, 'max')">150</a>
                                <a class="dropdown-item" href="javascript:void;" onclick="set(250, 'max')">250</a>
                                <a class="dropdown-item" href="javascript:void;" onclick="set(500, 'max')">500</a>
                                <a class="dropdown-item" href="javascript:void;" onclick="set('∞', 'max')">∞</a>
                            </div>
                        </div>
                    </div>
                    <div class="m-1 float-right btn-group" style="display: inline-flex;" id="hidebar">
                        <div class="btn-group">
                            <button class="btn btn-primary btn-sm" type="button">
                            <b>
                                <i id="iconhide" class="null fas fa-check" aria-hidden="true"></i>
                            </b>
                            <span class="d-none" id="hide">Ja</span>
                        </button>
                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void();" onclick="set('Ja', 'hide');set_icon('fas', 'fa-check', 'iconhide')">
                                    <i class="fas fa-check" aria-hidden="true"></i> {::lang::allg::logs::show}</a>
                                <a class="dropdown-item" href="javascript:void();" onclick="set('Nein', 'hide');set_icon('fa', 'fa-times', 'iconhide')">
                                    <i class="fa fa-times" aria-hidden="true"></i> {::lang::allg::logs::hide}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </nav>
    <hr />
    <div class="card shadow">
        <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade show active" id="pills-llog" role="tabpanel" aria-labelledby="pills-llog-tab">
                <table class="table table-striped mb-0">
                    <tr class="bg-dark">
                        <th colspan="2" class="p-0">
                            <div class="list-group-item bg-dark">
                                <h4 class="m-0">{::lang::servercenter::home::nav::llog}</h4>
                        </th>
                    </tr>
                </table>
                <table class="table table-striped mb-0" id="livelog">
                    <tr>
                        <td>
                            <div class="row p-0">
                                <div class="col-12">
                                    <i class="text-black-50 fas fa-cog fa-spin -align-left position-absolute" style="font-size: 45px;color: rgba(0,0,0,.5)!important;" height="50" width="50"></i>
                                    <div style="margin-left: 60px;">{::lang::servercenter::load}<br><span class="font-weight-light" style="font-size: 11px;">{::lang::servercenter::wait}</span></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                </div>

                {rcon}{lchatactive}{permissions??server??{cfg}??home??livechat_show}
                <div class="tab-pane fade" id="pills-lchat" role="tabpanel" aria-labelledby="pills-lchat-tab">
                    <table class="table table-striped mb-0">
                        <tr class="bg-dark">
                            <th colspan="2" class="p-0">
                                <div class="list-group-item bg-dark">
                                    <h4 class="m-0">{::lang::servercenter::home::nav::lchat}</h4>
                            </th>
                        </tr>
                        <tr>
                            <td class="p-0" id="livechatresp"></td>
                        </tr>
                        <tr>
                            <td class="p-2">
                                <div class="form-group row m-0">
                                    <label class="col-sm-2 col-form-label pt-1">{::lang::servercenter::home::section::lchat::msg}</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="livechat_text" class="form-control form-control-sm" placeholder="{::lang::servercenter::home::section::lchat::msg_placeholder}">
                                        <input type="hidden" id="livechat_user" value="{SESSION_USERNAME}">
                                        <input type="hidden" id="livechat_cfg" value="{cfg}">
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-sm btn-primary mb-3" style="width:100%" id="sendchat">{::lang::servercenter::home::section::lchat::btn_send}</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="table table-striped mb-0" id="lchatlog">
                        <tr>
                            <td>
                                <div class="row p-0">
                                    <div class="col-12">
                                        <i class="text-black-50 fas fa-cog fa-spin -align-left position-absolute" style="font-size: 45px;color: rgba(0,0,0,.5)!important;" height="50" width="50"></i>
                                        <div style="margin-left: 60px;">{::lang::servercenter::load}<br><span class="font-weight-light" style="font-size: 11px;">{::lang::servercenter::wait}</span></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    </div>{/permissions}{/lchatactive}

                    {permissions??server??{cfg}??home??rcon_show}
                    <div class="tab-pane fade" id="pills-rcon" role="tabpanel" aria-labelledby="pills-rcon-tab">
                        <table class="table table-striped mb-0">
                            <tr class="bg-dark">
                                <th colspan="2" class="p-0">
                                    <div class="list-group-item bg-dark">
                                        <h4 class="m-0">{::lang::servercenter::home::nav::rcon}</h4>
                                </th>
                            </tr>
                            <tr>
                                <td class="p-0" id="rconresp"></td>
                            </tr>
                            <tr>
                                <td class="p-2">
                                    <div class="form-group row m-0">
                                        <label class="col-sm-2 col-form-label pt-1">{::lang::servercenter::home::section::rcon::command}</label>
                                        <div class="col-sm-7">
                                            <div class="input-group mb-0">
                                                <input type="text" id="rcon_text" class="form-control form-control-sm" placeholder="{::lang::servercenter::home::section::rcon::command_placeholder}">
                                                <div class="input-group-append">
                                                    <select class="form-control form-control-sm" onchange="sel_in_input('#rcon_text', '#' + this.id)" id="selrocn">
                                                        <option value="">{::lang::allg::default::select}</option>
                                                        <option value="destroywilddinos">destroywilddinos</option>
                                                        <option value="saveworld">saveworld</option>
                                                        <option value="giveitemtoplayer <PlayerID> <ItemName> <QTY> <Quality> <True/False>">giveitemtoplayer </option>
                                                        <option value="kickplayer <Steam64ID>">kickplayer</option>
                                                        <option value="banplayer <Steam64ID>">banplayer</option>
                                                        <option value="unbanplayer <Steam64ID>">unbanplayer</option>
                                                        <option value='RenamePlayer <"Player Name"> <New Name>'>unbanplayer</option>
                                                        <option value='RenameTribe <"Tribe Name"> <New Name>'>unbanplayer</option>
                                                        <option value="giveexptoplayer <id> <how much> <tribeshared> <preventsharing>">giveexptoplayer</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <input type="hidden" id="rcon_user" value="{SESSION_USERNAME}">
                                            <input type="hidden" id="rcon_cfg" value="{cfg}">
                                        </div>
                                        <div class="col-sm-3">
                                            <button type="submit" class="btn btn-sm btn-primary mb-3" style="width:100%" id="send_rcon">{::lang::servercenter::home::section::rcon::btn_send}</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped mb-0" id="rconlog">
                            <tr>
                                <td>
                                    <div class="row p-0">
                                        <div class="col-12">
                                            <i class="text-black-50 fas fa-cog fa-spin -align-left position-absolute" style="font-size: 45px;color: rgba(0,0,0,.5)!important;" height="50" width="50"></i>
                                            <div style="margin-left: 60px;">{::lang::servercenter::load}<br><span class="font-weight-light" style="font-size: 11px;">{::lang::servercenter::wait}</span></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        </div>{/permissions}{/rcon}

                        {installed}{!ifcadmin}
                        {permissions??server??{cfg}??home??admin_show}
                        <div class="tab-pane fade" id="pills-admins" role="tabpanel" aria-labelledby="pills-admins-tab">
                            <table class="table table-striped mb-0">
                                <tr class="bg-dark">
                                    <th colspan="2" class="p-0">
                                        <div class="list-group-item bg-dark">
                                            <h4 class="m-0">{::lang::servercenter::home::nav::admin}</h4>
                                    </th>
                                </tr>
                                <tr>
                                    <td class="p-2">
                                        <form action="#add_admin" method="post" class="form-group row m-0">
                                            <label class="col-sm-2 col-form-label pt-1">{::lang::servercenter::home::section::rcon::command}</label>
                                            <div class="col-sm-7">
                                                <div class="input-group mb-0">
                                                    <input type="hidden" name="key[]" readonly="" value="serverMap">
                                                    <input type="text" name="id" class="form-control form-control-sm" placeholder="SteamID" id="steamid">
                                                    <div class="input-group-append">
                                                        <select class="form-control form-control-sm" onchange="sel_in_input('#steamid', '#' + this.id)" id="charsel">
                                                            <option value="">{::lang::allg::default::select}</option>
                                                            {userlist_admin}
                                                        </select>
                                                    </div>
                                                </div>
                                                <span class="text-sm">{::lang::servercenter::home::section::admin::info}</span>
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="submit" class="btn btn-sm btn-primary mb-3" style="width:100%" name="addadmin">{::lang::servercenter::home::section::admin::btn_add}</button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                            <ul class="list-group">
                                {adminlist_admin}
                            </ul>
                            </div>{/permissions}{/!ifcadmin}{/installed} {installed}{!ifwhitelist}

                            {permissions??server??{cfg}??home??whitelist_show}
                            <div class="tab-pane fade" id="pills-whitel" role="tabpanel" aria-labelledby="pills-whitel-tab">

                                <table class="table table-striped mb-0">
                                    <tr class="bg-dark">
                                        <th colspan="2" class="p-0">
                                            <div class="list-group-item bg-dark">
                                                <h4 class="m-0">{::lang::servercenter::home::nav::admin}</h4>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td class="p-0">{!whiteactive}{whiteactive_meld}{/!whiteactive}</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2">
                                            <form action="#add_admin" id="sendwhitelist" method="post" class="form-group row m-0">
                                                <label class="col-sm-2 col-form-label pt-1">{::lang::servercenter::home::section::rcon::command}</label>
                                                <div class="col-sm-7">
                                                    <input class="form-control form-control-sm" name="sid" id="SteamID" type="number" required placeholder="{::lang::servercenter::home::section::whitel::PH}">
                                                    <input class="form-control" name="cfg" type="hidden" value="{cfg}">
                                                    <input class="form-control" name="case" type="hidden" value="togglewhitelist">
                                                </div>
                                                <div class="col-sm-3">
                                                    <button type="submit" class="btn btn-sm btn-primary mb-3" style="width:100%" name="addadmin">{::lang::servercenter::home::section::whitel::btn}</button>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                                <ul class="list-group" id="whitelist"></ul>
                                </div>{/permissions}{/!ifwhitelist}{/installed}

                            </div>
                        </div>
                    </div>

                    <script>
                        // toggle whitelist
                        function toggle_white(sid, cfg, caser) {
                            $.post("/php/async/post/servercenter.home.async.php", {
                                "sid": sid,
                                "cfg": cfg,
                                "case": caser
                            }, (resp) => {
                                $("#all_resp").html(resp);
                                load_white();
                            });
                        }

                        // load whitelist
                        function load_white() {
                            var target = $("#whitelist");
                            var cfg = "{cfg}";
                            $.get("/php/async/get/servercenter.home.async.php", {
                                "cfg": cfg,
                                "case": "load"
                            }, (re) => {
                                target.html(re);
                                $.get("/php/async/get/servercenter.home.async.php", {
                                    "cfg": cfg,
                                    "case": "loadwhite"
                                }, (re) => {
                                    target.html(re);
                                });
                            });
                        }

                        $(document).ready(function() {

                            // send whitelist
                            $("#sendwhitelist").submit(function(e) {
                                $.post("/php/async/post/servercenter.home.async.php", $(this).serialize(), (resp) => {
                                    $("#SteamID").val('');
                                    $("#all_resp").html(resp);
                                    load_white();
                                });
                                e.preventDefault();
                            });
                            load_white();


                            // R-Con
                            $('#send_rcon').click(function(e) {
                                e.preventDefault();
                                var cfg = $("#rcon_cfg").val();
                                var user = $("#rcon_user").val();
                                tx = $("#rcon_text");
                                var text = tx.val();

                                $.post("/php/async/post/servercenter.home.async.php?case=rconsend", {
                                        cfg: cfg,
                                        user: user,
                                        text: text
                                    })
                                    .done(function(data) {
                                        console.log(data);
                                        json = $.parseJSON(data);
                                        if (json.code == 1) {
                                            $("#rconresp").html(json.msg);
                                            tx.val("");
                                            tx.attr("placeholder", "{::lang::allg::send_done}");
                                            getlog('{rconlog}', '{cfg}', 'rconlog', 'max', 'hide', "filter", "mods", "home");
                                        } else {
                                            $("#rconresp").html(json.msg);
                                            tx.val("");
                                            tx.attr("placeholder", "{::lang::allg::send_fail}");
                                            getlog('{rconlog}', '{cfg}', 'rconlog', 'max', 'hide', "filter", "mods", "home");
                                        }
                                    });
                            });
                        });

                        // livechat
                        $('#sendchat').click(function(e) {
                            e.preventDefault();
                            var cfg = $("#livechat_cfg").val();
                            var user = $("#livechat_user").val();
                            tx = $("#livechat_text");
                            var text = tx.val();

                            $.post("/php/async/post/servercenter.home.async.php?case=igchatsend", {
                                    cfg: cfg,
                                    user: user,
                                    text: text
                                })
                                .done(function(data) {
                                    json = $.parseJSON(data);
                                    if (json.code == 1) {
                                        $("#livechatresp").html(json.msg);
                                        tx.val("");
                                        tx.attr("placeholder", "{::lang::allg::send_done_chat}");
                                        getlog('{lchatlog}', '{cfg}', 'lchatlog', 'max', 'hide', "filter", "mods", "home");
                                    } else {
                                        $("#livechatresp").html(json.msg);
                                        tx.val("");
                                        tx.attr("placeholder", "{::lang::allg::send_fail}");
                                        getlog('{lchatlog}', '{cfg}', 'lchatlog', 'max', 'hide', "filter", "mods", "home");
                                    }
                                }, "JSON");
                        });

                        getlog('app/data/shell_resp/log/{cfg}/last.log', '{cfg}', 'livelog', 'max', 'hide', "filter", "mods", "home");
                        getlog('{lchatlog}', '{cfg}', 'lchatlog', 'max', 'hide', "filter", "mods", "home");
                        getlog('{rconlog}', '{cfg}', 'rconlog', 'max', 'hide', "filter", "mods", "home");

                        setInterval(function() {
                            getlog('app/data/shell_resp/log/{cfg}/last.log', '{cfg}', 'livelog', 'max', 'hide', "filter", "mods", "home");
                        }, 1000);

                        setInterval(function() {
                            getlog('{lchatlog}', '{cfg}', 'lchatlog', 'max', 'hide', "filter", "mods", "home");
                            getlog('{rconlog}', '{cfg}', 'rconlog', 'max', 'hide', "filter", "mods", "home");
                        }, 3000);
                    </script>