<div class="col-12 mb-4">
    <div class="card shadow" style="border: 0!important;">
        <div class="tab-content" id="pills-tabContent">
            <!-- Jobs -->
            <div class="tab-pane fade show active" id="pills-jobs" role="tabpanel" aria-labelledby="pills-jobs-tab">
                <div>
                    <form {permissions??server??{cfg}??jobs??add}action="{ROOT}/servercenter/{cfg}/jobs" method="post" {/permissions} class="p-0 mb-0">
                        <table class="table table-striped mb-0" style="border: 0!important;">
                            <tr class="bg-dark">
                                <th colspan="2" class="p-0" style="border: 0!important;">
                                    <div class="list-group-item bg-dark">
                                        <h4 class="m-0">{::lang::servercenter::jobs::nav::jobs}</h4>
                                        {permissions??server??{cfg}??jobs??add}
                                        <div class="right">
                                            {update_btn}<a data-toggle="tooltip" data-placement="top" title="{::lang::servercenter::jobs::tooltip_update}" href="{update_url}" class="btn btn-sm btn-info"><i class="fa fa-refresh" aria-hidden="true"></i></a>{/update_btn}
                                            {backup_btn}
                                            <a data-toggle="tooltip" data-placement="top" title="{::lang::servercenter::jobs::tooltip_backup}" href="{backup_url}" class="btn btn-sm btn-info"><i class="fas fa-file-archive" aria-hidden="true"></i></a>{/backup_btn}
                                        </div>{/permissions}
                                    </div>
                                </th>
                            </tr>

                            {permissions??server??{cfg}??jobs??add}
                            <tr>
                                <td class="p-2">
                                    <div class="form-group row m-0">
                                        <label class="col-sm-3 col-form-label pt-1">{::lang::servercenter::jobs::section::allg::name}</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="name" class="form-control form-control-sm" placeholder="{::lang::servercenter::jobs::section::allg::name_placeholder}">
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="p-2">
                                    <div class="form-group row m-0">
                                        <label class="col-sm-3 col-form-label pt-1">{::lang::servercenter::jobs::section::allg::command}</label>
                                        <div class="col-sm-9">
                                            <select name="action" class="form-control form-control-sm">
                                                <option value="">{::lang::servercenter::jobs::section::jobs::task::option::default}</option>
                                                <option value="start">{::lang::servercenter::jobs::section::jobs::task::option::start}</option>
                                                <option value="restart">{::lang::servercenter::jobs::section::jobs::task::option::restart}</option>
                                                <option value="stop">{::lang::servercenter::jobs::section::jobs::task::option::stop}</option>
                                                <option value="installmods">{::lang::servercenter::jobs::section::jobs::task::option::installmods}</option>
                                                <option value="uninstallmods">{::lang::servercenter::jobs::section::jobs::task::option::uninstallmods}</option>
                                                <option value="saveworld">{::lang::servercenter::jobs::section::jobs::task::option::save}</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="p-2">
                                    <div class="form-group row m-0">
                                        <label class="col-sm-3 col-form-label pt-1">{::lang::servercenter::jobs::section::allg::para}</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="parameter" class="form-control form-control-sm" placeholder="--validate">
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="p-2">
                                    <div class="form-group row m-0">
                                        <label class="col-sm-3 col-form-label pt-1">{::lang::servercenter::jobs::section::allg::time}</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="time" class="form-control form-control-sm" placeholder="YYYY-MM-DD HH:II">
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="p-2">
                                    <div class="form-group row m-0">
                                        <label class="col-sm-3 col-form-label pt-1">{::lang::servercenter::jobs::section::allg::intervall}</label>
                                        <div class="col-sm-9">
                                            <input type="number" name="intervall" class="form-control form-control-sm" placeholder="{::lang::servercenter::jobs::section::allg::intervall_placeholder}" value="{intervall_backup}">
                                        </div>
                                    </div>
                                </td>
                            </tr>{/permissions}

                        </table>
                        {permissions??server??{cfg}??jobs??add}<button type="submit" class="btn btn-primary mb-0" name="addjob" style="width:100%">{::lang::servercenter::jobs::section::allg::btn_save}</button>{/permissions}
                    </form>
                    <ul class="list-group" id="livelog">
                        {list}
                    </ul>
                    {listmodal}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Vars die zur JS übergeben werden

    // Allgemeine Vars
    var vars = {};
    vars.ROOT = '{ROOT}';

    // Sprache
    var lang = {};

    // Sprache / Aktionen
    var actions = {};

    // andere Funktionen
    $(function() {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
<script src="/app/dist/js/KAdmin-ArkLIN/sub_pages/servercenter/jobs.js?t={TIMESTAMP}" type="application/javascript"></script>

<script>
</script>