<div class="col-xl-9 col-md-8 mb-4">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="nav navbar-nav mr-auto aa-nav" id="pills-tab">
                {show}{!ifckonfig}
                <!-- GUS -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        GameUserSettings.ini
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" data-toggle="pill" href="#pills-GameUserStetting" role="tab" aria-controls="pills-home">{::lang::servercenter::config::edit}</a> {expert}
                        <a class="dropdown-item" data-toggle="pill" href="#pills-GameUserStetting-exp" role="tab" aria-controls="pills-home">{::lang::servercenter::config::exp}</a>{/expert}
                    </div>
                </li>

                <!-- Game -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Game.ini
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" data-toggle="pill" href="#pills-Game" role="tab" aria-controls="pills-home">{::lang::servercenter::config::edit}</a> {expert}
                        <a class="dropdown-item" data-toggle="pill" href="#pills-Game-exp" role="tab" aria-controls="pills-home">{::lang::servercenter::config::exp}</a>{/expert}
                    </div>
                </li>

                <!-- Engine -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Engine.ini
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" data-toggle="pill" href="#pills-Engine" role="tab" aria-controls="pills-home">{::lang::servercenter::config::edit}</a> {expert}
                        <a class="dropdown-item" data-toggle="pill" href="#pills-Engine-exp" role="tab" aria-controls="pills-home">{::lang::servercenter::config::exp}</a>{/expert}
                    </div>
                </li>{/!ifckonfig}{/show}

                <!-- Arkmanager -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Arkmanager.cfg
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" data-toggle="pill" href="#pills-AM" role="tab" aria-controls="pills-home">{::lang::servercenter::config::edit}</a> {expert}
                        <a class="dropdown-item" data-toggle="pill" href="#pills-AM-exp" role="tab" aria-controls="pills-home">{::lang::servercenter::config::exp}</a>{/expert}
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <hr />

    <div class="card shadow" style="border-radius: 0 0 0 0 !important;border-top: 0!important;">
        <div class="tab-content" id="pills-tabContent">
            {show}{!ifckonfig}


            <!-- GUS - Normal -->
            <form action="#save" method="post" class="tab-pane fade show active" id="pills-GameUserStetting" role="tabpanel">
                <div id="form">
                    <div class="table-responsive">
                        <table class="table table-striped mb-0" style="width: 100%;">
                            <tbody>
                                <tr class="bg-dark">
                                    <th colspan="2" class="p-0">
                                        <div class="list-group-item bg-dark">
                                            <h4 class="m-0">GameUserSettings.ini</h4>
                                    </th>
                                </tr>
                                <tr id="tbody_GUS">
                                    <td class="p-2">{::lang::servercenter::config::sec_create}</td>
                                    <td class="p-2">
                                        <div class="input-group mb-0">
                                            <input type="text" class="form-control form-control-sm" id="tbody_GUS_section">
                                            <div class="input-group-append">
                                                <span onclick="addsection('#tbody_GUS')" style="cursor:pointer" class="input-group-btn btn-success pr-2 pl-2 pt-1" id="basic-addon2"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {form_GUS}
                            </tbody>
                        </table>
                        </div>
                        <button type="submit" class="btn btn-primary" style="width: 100%;" name="savenormal">{::lang::servercenter::config::btn_save}</button>

                        <input type="hidden" name="type" id="type_gus" value="GameUserSettings.ini">
                        <input type="hidden" name="cfg" id="cfg_gus" value="{cfg}">
                    </div>
            </form>


            <!-- GUS - EXP -->
            <form action="#save" method="post" class="tab-pane fade" id="pills-GameUserStetting-exp" role="tabpanel">
                <div id="form">
                    <table class="table table-striped mb-0">
                        <tr class="bg-dark">
                            <th colspan="2" class="p-0">
                                <div class="list-group-item bg-dark">
                                    <h4 class="m-0">GameUserSettings.ini</h4>
                            </th>
                        </tr>
                    </table>
                    <textarea name="text" class="form-control form-control-sm" rows="3" style="min-height: 700px;max-height: 700px;" id="text_gus">{gus}</textarea>
                    <input type="hidden" name="type" id="type_gus" value="GameUserSettings.ini">
                    <input type="hidden" name="cfg" id="cfg_gus" value="{cfg}">
                    <button type="submit" class="btn btn-primary" name="save" style="width: 100%">{::lang::servercenter::config::btn_save}</button>
                    </div>
            </form>


            <!-- GAME - Normal -->
            <form action="#save" method="post" class="tab-pane fade" id="pills-Game" role="tabpanel">
                <div id="form">
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <tbody>
                                <tr class="bg-dark">
                                    <th colspan="2" class="p-0">
                                        <div class="list-group-item bg-dark">
                                            <h4 class="m-0">Game.ini</h4>
                                    </th>
                                </tr>
                                <tr id="tbody_Game">
                                    <td class="p-2">{::lang::servercenter::config::sec_create}</td>
                                    <td class="p-2">
                                        <div class="input-group mb-0">
                                            <input type="text" class="form-control form-control-sm" id="tbody_Game_section">
                                            <div class="input-group-append">
                                                <span onclick="addsection('#tbody_Game')" style="cursor:pointer" class="input-group-btn btn-success pr-2 pl-2 pt-1" id="basic-addon2"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {form_GAME}
                            </tbody>
                        </table>
                        </div>
                        <button type="submit" class="btn btn-primary" style="width: 100%;" name="savenormal">{::lang::servercenter::config::btn_save}</button>

                        <input type="hidden" name="type" id="type_gus" value="Game.ini">
                        <input type="hidden" name="cfg" id="cfg_gus" value="{cfg}">
                    </div>
            </form>


            <!-- GAME - EXP -->
            <form action="#save" method="post" class="tab-pane fade" id="pills-Game-exp" role="tabpanel">
                <div>
                    <table class="table table-striped mb-0">
                        <tr class="bg-dark">
                            <th colspan="2" class="p-0">
                                <div class="list-group-item bg-dark">
                                    <h4 class="m-0">Game.ini</h4>
                            </th>
                        </tr>
                    </table>
                    <textarea name="text" class="form-control form-control-sm" rows="3" style="min-height: 700px;max-height: 5700px;" id="text_game">{game}</textarea>
                    <input type="hidden" name="type" id="type_game" value="Game.ini">
                    <input type="hidden" name="cfg" id="cfg_game" value="{cfg}">
                    <button type="submit" class="btn btn-primary" name="save" style="width: 100%">{::lang::servercenter::config::btn_save}</button>
                    </div>
            </form>


            <!-- Engine - Normal -->
            <form action="#save" method="post" class="tab-pane fade" id="pills-Engine" role="tabpanel">
                <div id="form">
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <tbody>
                                <tr class="bg-dark">
                                    <th colspan="2" class="p-0">
                                        <div class="list-group-item bg-dark">
                                            <h4 class="m-0">Engine.ini</h4>
                                    </th>
                                </tr>
                                <tr id="tbody_Game">
                                    <td class="p-2">{::lang::servercenter::config::sec_create}</td>
                                    <td class="p-2">
                                        <div class="input-group mb-0">
                                            <input type="text" class="form-control form-control-sm" id="tbody_Game_section">
                                            <div class="input-group-append">
                                                <span onclick="addsection('#tbody_Game')" style="cursor:pointer" class="input-group-btn btn-success pr-2 pl-2 pt-1" id="basic-addon2"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {form_ENGINE}
                            </tbody>
                        </table>
                        </div>
                        <button type="submit" class="btn btn-primary" style="width: 100%;" name="savenormal">{::lang::servercenter::config::btn_save}</button>

                        <input type="hidden" name="type" id="type_gus" value="Engine.ini">
                        <input type="hidden" name="cfg" id="cfg_gus" value="{cfg}">
                    </div>
            </form>


            <!-- Engine - Normal -->
            <form action="#save" method="post" class="tab-pane fade" id="pills-Engine-exp" role="tabpanel">
                <div>
                    <table class="table table-striped mb-0">
                        <tr class="bg-dark">
                            <th colspan="2" class="p-0">
                                <div class="list-group-item bg-dark">
                                    <h4 class="m-0">Engine.ini</h4>
                            </th>
                        </tr>
                    </table>
                    <textarea name="text" class="form-control form-control-sm" rows="3" style="min-height: 700px;max-height: 700px;" id="text_engine">{engine}</textarea>
                    <input type="hidden" name="type" id="type_engine" value="Engine.ini">
                    <input type="hidden" name="cfg" id="cfg_engine" value="{cfg}">
                    <button type="submit" class="btn btn-primary" name="save" style="width: 100%">{::lang::servercenter::config::btn_save}</button>
                    </div>
            </form>{/!ifckonfig}{/show}

            <!-- AA - NORMAL -->
            <div class="tab-pane fade {ifckonfig}show active{/ifckonfig} {!show}show active{/!show}" id="pills-AM" role="tabpanel">
                <form action="#save" method="post">
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr class="bg-dark">
                                    <th colspan="2" class="p-0">
                                        <div class="list-group-item bg-dark">
                                            <h4 class="m-0">Arkmanager.cfg</h4>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="width: 100px">{::lang::servercenter::config::th_config}</th>
                                    <th>{::lang::servercenter::config::th_input}</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                                <tr id="addcfg">
                                    <td class="p-2">{::lang::servercenter::config::custom}</td>
                                    <td class="p-2">
                                        <div class="input-group">
                                            <input id="custom_key" type="text" class="form-control form-control-sm" placeholder="arkwarnminutes">
                                            <input id="custom_val" type="text" class="form-control form-control-sm" placeholder="30">
                                            <span onclick="add_input()" style="cursor:pointer" class="input-group-btn btn-success pr-2 pl-2 pt-1" id="basic-addon2"><i class="fa fa-plus" aria-hidden="true"></i></span>

                                            <script>
                                                function add_input() {
                                                    var key = $("#custom_key");
                                                    var val = $("#custom_val");
                                                    var table = $("#tbody");

                                                    var tpl = '<tr id="tmp_' + key.val() + '"><td>' + key.val() + '</td><td><div class="input-group mb-0">' +
                                                        '<input type="hidden" name="key[]" readonly value="' + key.val() + '">' +
                                                        '<input type="text" name="value[]" class="form-control form-control-sm"  value="' + val.val() + '">' +
                                                        '<div class="input-group-append">' +
                                                        '<span onclick="remove(\'tmp_' + key.val() + '\')" style="cursor:pointer" class="input-group-btn btn-danger pr-2 pl-2 pt-1" id="basic-addon2"><i class="fa fa-times" aria-hidden="true"></i></span>' +
                                                        '</div>' +
                                                        '</div></td></tr>';

                                                    if (key.val() != "" && val.val() != "") {
                                                        $("#addcfg").append(tpl);
                                                        key.val('');
                                                        val.val('');
                                                    }
                                                }
                                            </script>
                                        </div>
                                    </td>
                                </tr>
                                {form}
                                <tr>
                                    <td class="p-2">Ark Flag</td>
                                    <td class="p-2">
                                        {ark_flag}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        <button type="submit" class="btn btn-primary" style="width: 100%;" name="savecfg">{::lang::servercenter::config::btn_save}</button>

                </form>
                </div>


                <!-- AA - EXP -->
                <div class="tab-pane fade" id="pills-AM-exp" role="tabpanel">
                    <table class="table table-striped mb-0">
                        <tr class="bg-dark">
                            <th colspan="2" class="p-0">
                                <div class="list-group-item bg-dark">
                                    <h4 class="m-0">Arkmanager.cfg</h4>
                            </th>
                        </tr>
                    </table>
                    <form action="#save" method="post">
                        <textarea name="txtarea" class="form-control form-control-sm" rows="3" style="min-height: 700px;max-height: 700px;">{amcfg}</textarea>
                        <button type="submit" class="btn btn-primary" name="savecfg_expert" style="width: 100%">{::lang::servercenter::config::btn_save}</button>
                    </form>
                    </div>


                </div>
            </div>
            </div>

            <script>
                $('select[name="flag[]"]').bootstrapDualListbox({
                    nonSelectedListLabel: '{::lang::servercenter::config::sel}',
                    selectedListLabel: '{::lang::servercenter::config::nonsel}',
                    preserveSelectionOnMove: 'moved',
                    infoText: null,
                    showFilterInputs: true,
                    moveOnSelect: false
                });

                function setmap() {
                    var target = $("#input_serverMap");
                    var opt = $("#mapsel");
                    target.val(opt.val());
                }

                function addsection(id) {
                    var target = $(id);
                    var section = $(id + "_section");
                    var val = section.val();

                    if (val != "") {
                        var data = {
                            "case": "create_section",
                            "section": val
                        };
                        $.get("/php/async/get/servercenter.konfig.async.php", data, (re) => {
                            target.after(re);
                            if (!section.hasClass("border-success")) section.toggleClass("border-success");
                            if (section.hasClass("border-danger")) section.toggleClass("border-danger");
                        })
                    } else {
                        if (section.hasClass("border-success")) section.toggleClass("border-success");
                        if (!section.hasClass("border-danger")) section.toggleClass("border-danger");
                    }
                }

                function removesection(section) {
                    $("tr[data-section='" + section + "']").remove();
                }

                function additem(id, section) {
                    var data = {
                        "case": "create",
                        "section": section
                    };
                    $.get("/php/async/get/servercenter.konfig.async.php", data, (re) => {
                        $("#" + id).after(re);
                    })
                }
            </script>