<div class="col-12 mb-4">
    <nav class="navbar navbar-expand-lg navbar-dark p-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navbar-secondary" id="navbarColor03">
            <ul class="nav navbar-nav mr-auto aa-nav" id="pills-tab">
                <li class="nav-item">
                    <a class="nav-link active btn-dark p-3" id="pills-am-tab" data-toggle="pill" href="#pills-am" role="tab" aria-controls="pills-am" aria-selected="true">ArkManager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-dark p-3" id="pills-as-tab" data-toggle="pill" href="#pills-as" role="tab" aria-controls="pills-as" aria-selected="false">ArkServer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-dark p-3" id="pills-mods-tab" data-toggle="pill" href="#pills-mods" role="tab" aria-controls="pills-mods" aria-selected="false">Mods</a>
                </li>
            </ul>
            <form class="form-inline" action="#" method="POST" id="removeForm">
                <ul class="nav navbar-nav aa-nav ml-auto float-right" id="logbar">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn-dark p-3" href="#" id="filter_txt-drop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {::lang::allg::logs::filter}: <b id="filter_txt">{::lang::allg::on}</b> <span class="d-none" id="filter">true</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filter_txt-drop">
                            <a class="dropdown-item" href="javascript:void(true);" onclick="set('{::lang::allg::on}', 'filter_txt');set('true', 'filter')">{::lang::allg::on}</a>
                            <a class="dropdown-item" href="javascript:void(true);" onclick="set('{::lang::allg::off}', 'filter_txt');set('false', 'filter')">{::lang::allg::off}</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn-dark p-3" href="#" id="max-drop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Max: <b id="max">25</b>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="max-drop">
                            <a class="dropdown-item" href="javascript:void;" onclick="set(25, 'max')">25</a>
                            <a class="dropdown-item" href="javascript:void;" onclick="set(50, 'max')">50</a>
                            <a class="dropdown-item" href="javascript:void;" onclick="set(150, 'max')">150</a>
                            <a class="dropdown-item" href="javascript:void;" onclick="set(250, 'max')">250</a>
                            <a class="dropdown-item" href="javascript:void;" onclick="set(500, 'max')">500</a>
                            <a class="dropdown-item" href="javascript:void;" onclick="set('∞', 'max')">∞</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn-dark p-3" href="#" id="hide-drop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i id="iconhide" class="null fas fa-check" aria-hidden="true"></i>
                            <span class="d-none" id="hide">Ja</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="hide-drop">
                            <a class="dropdown-item" href="javascript:void();" onclick="set('Ja', 'hide');set_icon('fas', 'fa-check', 'iconhide')">
                                <i class="fas fa-check" aria-hidden="true"></i> {::lang::allg::logs::show}</a>
                            <a class="dropdown-item" href="javascript:void();" onclick="set('Nein', 'hide');set_icon('fa', 'fa-times', 'iconhide')">
                                <i class="fa fa-times" aria-hidden="true"></i> {::lang::allg::logs::hide}</a>
                        </div>
                    </li>

                    {permissions??server??{cfg}??logs??clear}
                        <li class="nav-item" style="cursor: pointer">
                            <a onclick="$('#removeForm').submit()" href="#" class="nav-link bg-danger btn-dark p-3">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </li>
                    {/permissions}
                </ul>

                <input type="hidden" name="clearlogs" value="true">
            </form>
        </div>
    </nav>

    <hr />

    <div class="card shadow">
        <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade show active" id="pills-am" role="tabpanel" aria-labelledby="pills-am-tab">
                <table class="table table-striped mb-0">
                    <tr class="bg-dark">
                        <th colspan="2" class="p-0">
                            <div class="list-group-item bg-dark">
                                <h4 class="m-0">ArkManager</h4>
                        </th>
                    </tr>
                </table>
                <table class="table table-striped mb-0" id="livelog_am">
                    <tr>
                        <td>
                            <div class="row p-0">
                                <div class="col-12">
                                    <i class="text-black-50 fas fa-cog fa-spin -align-left position-absolute" style="font-size: 45px;color: rgba(0,0,0,.5)!important;" height="50" width="50"></i>
                                    <div style="margin-left: 60px;">{::lang::servercenter::load}<br><span class="font-weight-light" style="font-size: 11px;">{::lang::servercenter::wait}</span></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="tab-pane fade" id="pills-as" role="tabpanel" aria-labelledby="pills-as-tab">
                <table class="table table-striped mb-0">
                    <tr class="bg-dark">
                        <th colspan="2" class="p-0">
                            <div class="list-group-item bg-dark">
                                <h4 class="m-0">ArkServer</h4>
                        </th>
                    </tr>
                </table>
                <table class="table table-striped mb-0" id="livelog_ark">
                    <tr>
                        <td>
                            <div class="row p-0">
                                <div class="col-12">
                                    <i class="text-black-50 fas fa-cog fa-spin -align-left position-absolute" style="font-size: 45px;color: rgba(0,0,0,.5)!important;" height="50" width="50"></i>
                                    <div style="margin-left: 60px;">{::lang::servercenter::load}<br><span class="font-weight-light" style="font-size: 11px;">{::lang::servercenter::wait}</span></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="tab-pane fade" id="pills-mods" role="tabpanel" aria-labelledby="pills-mods-tab">
                <table class="table table-striped mb-0">
                    <tr class="bg-dark">
                        <th colspan="2" class="p-0">
                            <div class="list-group-item bg-dark">
                                <h4 class="m-0">Mods</h4>
                        </th>
                    </tr>
                </table>
                <div id="mods" class="d-none">true</div>
                <table class="table table-striped mb-0" id="livelog_mods">
                    <tr>
                        <td>
                            <div class="row p-0">
                                <div class="col-12">
                                    <i class="text-black-50 fas fa-cog fa-spin -align-left position-absolute" style="font-size: 45px;color: rgba(0,0,0,.5)!important;" height="50" width="50"></i>
                                    <div style="margin-left: 60px;">{::lang::servercenter::load}<br><span class="font-weight-light" style="font-size: 11px;">{::lang::servercenter::wait}</span></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    // Vars die zur JS übergeben werden

    // Allgemeine Vars
    var vars = {};
    vars.cfg = "{cfg}";
    vars.path = "{path}";

    // Sprache
    var lang = {};

    // Sprache / Aktionen
    var actions = {};
</script>
<script src="/app/dist/js/arkadmin2/sub_pages/servercenter/logs.js" type="application/javascript"></script>