<div class="col-12 mb-4">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="nav navbar-nav mr-auto aa-nav" id="pills-tab">
                <li class="nav-item" style="margin-right: 5px">
                    <a class="nav-link active" id="pills-modactive-tab" data-toggle="pill" href="#pills-modactive" role="tab" aria-controls="pills-modactive" aria-selected="true">{::lang::servercenter::mods::nav::active}</a>
                </li>
                <li class="nav-item" style="margin-right: 5px">
                    <a class="nav-link" id="pills-modinstall-tab" data-toggle="pill" href="#pills-modinstall" role="tab" aria-controls="pills-modinstall" aria-selected="true">{::lang::servercenter::mods::nav::installed}</a>
                </li>
            </ul>
        </div>
    </nav>
    <hr />
    <div class="card border-0 bg-transparent shadow-none" style="border-radius: 0 0 0 0 !important;border-top: 0!important;">
        <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade show active" id="pills-modactive" role="tabpanel" aria-labelledby="pills-modactive-tab">
                <table class="table table-striped mb-0">
                    <tbody>
                        <tr class="bg-dark">
                            <th colspan="2" class="p-0">
                                <div class="list-group-item bg-dark">
                                    <h4 class="m-0">{::lang::servercenter::mods::nav::active}</h4>
                                    <div class="right">
                                        <button class="btn btn-sm btn-outline-secondary" onclick="get(false)"><i class="fas fa-undo"></i></button>
                                        {!ifcmods}{permissions??server??{cfg}??mods??add}<button data-toggle="modal" data-target="#addmod" class="btn btn-sm btn-outline-success">{::lang::servercenter::mods::nav::add}</button>{/permissions}{/!ifcmods}
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
                <div class="row mt-3" id="modlist">
                    <ul class="list-group ml-2 mr-2" style="border:0; width: 100%">
                        <li class="list-group-item">
                            <div class="row p-0">
                                <div class="col-12">
                                    <i class="text-black-50 fas fa-cog fa-spin -align-left position-absolute" style="font-size: 45px;color: rgba(0,0,0,.5)!important;" height="50" width="50"></i>
                                    <div style="margin-left: 60px;">{::lang::servercenter::load}<br><span class="font-weight-light" style="font-size: 11px;">{::lang::servercenter::wait}</span></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tab-pane fade" id="pills-modinstall" role="tabpanel" aria-labelledby="pills-modinstall-tab">
                <table class="table table-striped mb-0">
                    <tbody>
                        <tr class="bg-dark">
                            <th colspan="2" class="p-0">
                                <div class="list-group-item bg-dark">
                                    <h4 class="m-0">{::lang::servercenter::mods::nav::installed}</h4>
                                    <div class="right">
                                        <button class="btn btn-sm btn-outline-secondary" onclick="get(true)"><i class="fas fa-undo"></i></button>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
                <div class="row mt-3" id="modlist_loc">
                    <ul class="list-group ml-2 mr-2" style="border:0; width: 100%">
                        <li class="list-group-item">
                            <div class="row p-0">
                                <div class="col-12">
                                    <i class="text-black-50 fas fa-cog fa-spin -align-left position-absolute" style="font-size: 45px;color: rgba(0,0,0,.5)!important;" height="50" width="50"></i>
                                    <div style="margin-left: 60px;">{::lang::servercenter::load}<br><span class="font-weight-light" style="font-size: 11px;">{::lang::servercenter::wait}</span></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{!ifcmods}{permissions??server??{cfg}??mods??add}
<form class="modal fade" id="addmod" tabindex="-1" method="post" action="#" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="max-width: 700px">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title">{::lang::servercenter::mods::nav::add}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body p-0">
                <table class="table table-striped mb-0">
                    <tbody>
                        <tr id="addmodinput">
                            <td class="p-2">
                                <div class="input-group mb-0">
                                    <input type="text" name="url[]" class="form-control form-control-sm" placeholder="Worshop URL / ModID">
                                    <button type="button" class="btn btn-sm btn-info" onclick="additem('#addmodinput')"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{::lang::servercenter::list::mods::modal::remove::btn_cancel}</button>
                <button href="#del731604991" onclick="remove('731604991', false)" class="btn btn-success" name="addmod">{::lang::servercenter::mods::btn_add}</button>
            </div>
        </div>
    </div>
</form>{/permissions}{/!ifcmods}

<script>
    function get(installed) {
        if(!installed) {
            getphp("/php/async/get/servercenter.mods.async.php?cfg={cfg}&case=mods_active", "modlist");
        }
        else {
            getphp("/php/async/get/servercenter.mods.async.php?cfg={cfg}&case=mods_installed", "modlist_loc");
        }
    }

    function push(up, modid) {
        let resp = "#all_resp";

        $.post("/php/async/post/servercenter.mods.async.php?case=push", {
            "cfg": "{cfg}",
            "action": up ? "up" : "down",
            "modid": modid
        }, (data) => {
            console.log(data);
            let json = JSON.parse(data);

            if(json.success) {
                $(resp).html(json.msg);
                get(false);
            }
        });
    }
    get(true); get(false);

    function pushto(modid, to) {
        let resp = "#all_resp";

        $.post("/php/async/post/servercenter.mods.async.php?case=pushto", {
            "cfg": "{cfg}",
            "to": to,
            "modid": modid
        }, (data) => {
            console.log(data);
            let json = JSON.parse(data);

            if(json.success) {
                $(resp).html(json.msg);
                get(false);
            }
        });
    }

    function remove(modid, installed) {
        let resp = "#all_resp";
        let modal = installed ? `#del_installed${modid}` : `#del${modid}`;

        $.post(`/php/async/post/servercenter.mods.async.php?case=${installed ? "remove_installed" : "remove"}`, {
            "cfg": "{cfg}",
            "modid": modid
        }, (data) => {
            console.log(data);
            let json = JSON.parse(data);

            if(json.success) {
                $(resp).html(json.msg);
                $(modal).modal('hide')
                $("div.modal-backdrop").remove();
                get(installed);
            }
        });
    }

    function additem(id) {
        var clone = $(id).clone(true);
        $(id).after(clone)
    }
</script>

