<div class="col-xl-9 col-md-8 mb-4" onload="getmods('{cfg}')">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="nav navbar-nav mr-auto aa-nav" id="pills-tab">
                <li class="nav-item" style="margin-right: 5px">
                    <a class="nav-link active" id="pills-modactive-tab" data-toggle="pill" href="#pills-modactive" role="tab" aria-controls="pills-modactive" aria-selected="true">{::lang::servercenter::mods::nav::active}</a>
                </li>
                <li class="nav-item" style="margin-right: 5px">
                    <a class="nav-link" id="pills-modinstall-tab" data-toggle="pill" href="#pills-modinstall" role="tab" aria-controls="pills-modinstall" aria-selected="true">{::lang::servercenter::mods::nav::installed}</a>
                </li>
                {!ifcmods}
                <li class="nav-item">
                    <a class="nav-link" id="pills-add-tab" data-toggle="pill" href="#pills-add" role="tab" aria-controls="pills-add" aria-selected="false">{::lang::servercenter::mods::nav::add}</a>
                </li>{/!ifcmods}
            </ul>
        </div>
    </nav>
    <hr />
    <div class="card shadow" style="border-radius: 0 0 0 0 !important;border-top: 0!important;">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-modactive" role="tabpanel" aria-labelledby="pills-modactive-tab">
                <ul class="list-group" id="modlist" style="border:0;">
                    <li class="list-group-item">
                        <div class="row p-0">
                            <div class="col-12">
                                <i class="text-black-50 fas fa-cog fa-spin -align-left position-absolute" style="font-size: 45px;color: rgba(0,0,0,.5)!important;" height="50" width="50"></i>
                                <div style="margin-left: 60px;">{::lang::servercenter::load}<br><span class="font-weight-light" style="font-size: 11px;">{::lang::servercenter::wait}</span></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade" id="pills-modinstall" role="tabpanel" aria-labelledby="pills-modinstall-tab">
                <ul class="list-group" id="modlist_loc" style="border:0;">
                    <li class="list-group-item">
                        <div class="row p-0">
                            <div class="col-12">
                                <i class="text-black-50 fas fa-cog fa-spin -align-left position-absolute" style="font-size: 45px;color: rgba(0,0,0,.5)!important;" height="50" width="50"></i>
                                <div style="margin-left: 60px;">{::lang::servercenter::load}<br><span class="font-weight-light" style="font-size: 11px;">{::lang::servercenter::wait}</span></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            {!ifcmods}
            <div class="tab-pane fade" id="pills-add" role="tabpanel" aria-labelledby="pills-add-tab">
                <form action="{urls}" method="post" class="tab-pane fade active show" id="pills-Game" role="tabpanel">
                    <div id="form">
                        <table class="table table-striped mb-0">
                            <tbody>
                                <tr class="bg-dark">
                                    <th class="p-0">
                                        <div class="list-group-item bg-dark">
                                            <h4 class="m-0">{::lang::servercenter::mods::nav::add}</h4>
                                            <div class="right">
                                                <button type="button" class="btn btn-sm btn-success" onclick="additem('#viaurl')"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr id="viaurl">
                                    <td class="p-2">
                                        <div class="input-group mb-0">
                                            <input type="text" name="url[]" class="form-control form-control-sm" placeholder="Worshop URL / ModID">
                                        </div>
                                    </td>
                                </tr>
                                <tr class="bg-dark">
                                    <th class="p-0">
                                        <button type="submit" class="btn btn-primary" name="addmod" style="width:100%">{::lang::servercenter::mods::btn_add}</button>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>{/!ifcmods}
        </div>
    </div>
</div>

<script>
    getphp("/php/async/get/servercenter.mods.async.php?cfg={cfg}&case=mods_active", "modlist");
    getphp("/php/async/get/servercenter.mods.async.php?cfg={cfg}&case=mods_installed", "modlist_loc");

    function additem(id) {
        var clone = $(id).clone(true);
        $(id).after(clone)
    }
</script>