<div class="col-12 mb-4">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="nav navbar-nav mr-auto aa-nav" id="pills-tab">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-player" role="tab" aria-controls="pills-player" aria-selected="false" onclick="setdisplay('logbar', 'inline-flex'); setdisplay('hidebar', 'inline-flex')" onmouseenter="$('#players').toggleClass('d-lg-none', false)" onmouseleave="$('#players').toggleClass('d-lg-none', true)">
                        <i class="nav-icon fas fa-user pr-1" aria-hidden="true"></i> <span id="players" class="d-lg-none">{::lang::servercenter::saves::nav::player}</span> <b>({cp})</b>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="pills-tribe-tab" data-toggle="pill" href="#pills-tribe" role="tab" aria-controls="pills-tribe" aria-selected="false" onclick="setdisplay('logbar', 'inline-flex'); setdisplay('hidebar', 'inline-flex')" onmouseenter="$('#tribes').toggleClass('d-lg-none', false)" onmouseleave="$('#tribes').toggleClass('d-lg-none', true)">
                        <i class="nav-icon fas fa-users pr-1" aria-hidden="true"></i> <span id="tribes" class="d-lg-none">{::lang::servercenter::saves::nav::tribe}</span> <b>({ct})</b>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-world" role="tab" aria-controls="pills-world" aria-selected="false" onclick="setdisplay('logbar', 'inline-flex'); setdisplay('hidebar', 'inline-flex')" onmouseenter="$('#world').toggleClass('d-lg-none', false)" onmouseleave="$('#world').toggleClass('d-lg-none', true)">
                        <i class="nav-icon fas fa-map pr-1" aria-hidden="true"></i> <span id="world" class="d-lg-none">{::lang::servercenter::saves::nav::map}</span> <b>({cw})</b>
                    </a>
                </li>
            </ul>
            {permissions??server??{cfg}??saves??download}
            <div class="d-sm-inline-block right" data-toggle="popover_action" title="{::lang::servercenter::saves::zip::title}" data-content="{::lang::servercenter::saves::zip::text}" data-original-title="{::lang::servercenter::saves::zip::title}">
                <a data-toggle="modal" data-target="#createzip" href="#" target="_blank" class="btn btn-sm btn-info btn-icon-split rounded-0 ml-1" id="force_update">
                    <span class="icon text-white-50">
                        <i class="fa fa-file-archive-o" aria-hidden="true"></i>
                    </span>
                </a>
            </div>{/permissions}
        </div>
    </nav>
    <hr />
    <div class="card shadow" style="border-radius: 0 0 0 0 !important;border-top: 0!important;">
        <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade show active" id="pills-player" role="tabpanel" aria-labelledby="pills-player-tab">
                <table class="table table-striped mb-0">
                    <tr class="bg-dark">
                        <th colspan="2" class="p-0">
                            <div class="list-group-item bg-dark">
                                <h4 class="m-0">{::lang::servercenter::saves::nav::player} <b>({cp})</b></h4>
                        </th>
                    </tr>
                </table>
                <ul class="list-group" style="border:0;">
                    {player}
                </ul>
                </div>

                <div class="tab-pane fade" id="pills-tribe" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <table class="table table-striped mb-0">
                        <tr class="bg-dark">
                            <th colspan="2" class="p-0">
                                <div class="list-group-item bg-dark">
                                    <h4 class="m-0">{::lang::servercenter::saves::nav::tribe} <b>({ct})</b></h4>
                            </th>
                        </tr>
                    </table>
                    <ul class="list-group" style="border:0;">
                        {tribe}
                    </ul>
                    </div>

                    <div class="tab-pane fade" id="pills-world" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <table class="table table-striped mb-0">
                            <tr class="bg-dark">
                                <th colspan="2" class="p-0">
                                    <div class="list-group-item bg-dark">
                                        <h4 class="m-0">{::lang::servercenter::saves::nav::map} <b>({cw})</b></h4>
                                </th>
                            </tr>
                        </table>
                        <ul class="list-group" style="border:0;">
                            {world}
                        </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{permissions??server??{cfg}??saves??download}
<div class="modal fade" id="createzip" tabindex="-1" role="dialog" aria-labelledby="createzip" aria-hidden="true">
    <form class="modal-dialog modal-xl" role="document" style="max-width: 700px" method="POST" action="#">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title">{::lang::servercenter::saves::zip::title}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pl-4">
                {::lang::servercenter::saves::zip::info}
                <div class="row ml-2 mt-2">
                    <div class="icheck-primary mb-3 col-md-12">
                        <input type="checkbox" name="save" value="true" id="save">
                        <label for="save">
                            {::lang::servercenter::saves::nav::player}
                        </label>
                    </div>
                </div>
                <div class="row ml-2">
                    <div class="icheck-primary mb-3 col-md-12">
                        <input type="checkbox" name="map" value="true" id="map">
                        <label for="map">
                            {::lang::servercenter::saves::nav::map}
                        </label>
                    </div>
                </div>
                <div class="row ml-2">
                    <div class="icheck-primary mb-3 col-md-12">
                        <input type="checkbox" name="tribe" value="true" id="tribe">
                        <label for="tribe">
                            {::lang::servercenter::saves::nav::tribe}
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{::lang::servercenter::main::modal::send_command::btn_close}</button>
                <button type="submit" class="btn btn-primary" name="zip">{::lang::servercenter::main::modal::send_command::btn_send}</button>
            </div>
        </div>
    </form>
</div>{/permissions}